[2015-01-27 17:44] rizr opened #1 "Twilio module"
After generating the project twilio module not installed.

[2015-01-27 17:46] rizr opened #2 "socialFactory module not found"
socialFactory module not found

[2015-01-27 18:04] rizr opened #3 "Facebook userId is not found"
[code]

[2015-01-28 09:38] rizr opened #4 "JwtService not found"
JwtService not found in services

[2015-01-28 10:17] rizr commented on #3
in SocialFactory need to export  module.exports = SocialFactory; NOT module.exports = Facebook

[2015-01-28 14:22] rizr opened #5 "passport service 'localStrategy'"
else if (CipherService.create('bcrypt', {content: user.password}).compareHashSync(password))

NEED:

else if (!CipherService.create('bcrypt', {content: user.password}).compareHashSync(password))

[2015-01-30 14:37] #1 closed

[2015-01-30 14:40] #3 closed

[2015-01-30 14:41] #2 closed

[2015-02-03 19:16] ghaiklor opened #6 "Add .tmp to gitignore list"

[2015-02-06 14:44] #6 closed

[2015-02-06 14:45] ghaiklor opened #7 "Rewrite Cipher service"

[2015-02-06 14:45] ghaiklor opened #8 "Add JWT as Cipher module"

[2015-02-06 14:46] ghaiklor opened #9 "Add swagger documentation for basic routes"

[2015-02-06 14:46] ghaiklor opened #10 "Implement Mailer service"

[2015-02-07 15:08] #7 closed

[2015-02-07 15:46] #10 closed

[2015-02-07 15:51] #5 closed

[2015-02-08 11:17] ghaiklor opened #11 "Write tests as part of generator"

[2015-02-08 12:08] ghaiklor opened #12 "passport-twitter-token is not found"

[2015-02-08 12:10] #12 closed

[2015-02-08 21:04] ghaiklor opened #13 "Implement sub-generators for each service"

[2015-02-08 21:08] ghaiklor commented on #8
Need to think how we can move JSON Web Tokens as part of Cipher service. So we can close #4 and rewrite `AuthController.js`.

So it will works something like that:
[code]

[2015-02-08 21:12] ghaiklor commented on #9
My proposal is using this module - https://github.com/krakenjs/swaggerize-express
I can write basic docs in `docs/api.json` folder and integrate swagger into Sails application.

[2015-02-08 21:13] ghaiklor opened #14 "Generate package.json based on answers"
Right now I have issue with unused dependencies in `package.json`. Need to find out the way to generate `package.json` only with dependencies that we really need.

[2015-02-08 21:16] ghaiklor opened #15 "Feel free to choose which services you want include"
I want to create questions list where developer can check which services he wants to use in application.

And when developer has answered on questions, we are running sub-generators which copies files that he's need.

Sub-generators task - #13

[2015-02-08 21:19] ghaiklor opened #16 "Move from experimental to unstable stability level"
I should check all the code located under generator and template and check if everything is ok.

If yes, then I can move to Unstable stability level and continue working only with `services`.

[x] `api` folder
[x] `config` folder
[x] `doc` folder
[x] `test` folder

[2015-02-09 20:44] c835722 opened #17 "Error: Cannot find module 'passport-twitter-token'"
Hi. I like what you have done here.
After npm install;sails lift I got the above error. The generated package.json seemed to be missing passport-twitter-token package.
I executed a npm install passport-twitter-token and all good.
Keep up the good work.
Cheers.

[2015-02-10 09:19] ghaiklor commented on #17
@c835722 Hi. Thanks, I appreciate it. I already fix that error in edge version and very soon will publish update.

Here still a lot of work, and stability only in Experimental level, but in general all works fine now. The one place where errors still left - `services`. But I'm working on it. Thanks for issue report :+1:

[2015-02-10 09:39] ghaiklor commented on #17
Here is the commit which fix the bug - 5b9df99bfae57aeafd1777078f4773aee5eb9338

[2015-02-10 09:41] ghaiklor commented on #11
I've started work with tests d0e1097
But right now there is only `assert(false)` and need to write them.

[2015-02-10 10:08] c835722 commented on #17
oh yes I see. Following the readme.md via yeoman I would have gone the public npm route and thus not picked up the dev branch. I will git clone. Ta.

[2015-02-10 10:54] rizr opened #18 "password lifecycle beforeUpdate"
beforeUpdate User model need to check new pass then only to hash pass again;
like this :
    beforeUpdate: function(values, next) {
        if (typeof values.newPassword != 'undefined' && values.newPassword !== '')

 becouse we have problem with forgot pass:
    user.password = CipherService.create('bcrypt', {content: newPassword}).hashSync();

[2015-02-10 10:58] ghaiklor commented on #18
@rizr the issue here that `newPassword` doesn't corresponds to real `User` model. So need to think here how this can be accomplished in other way, without `newPassword` value.

[2015-02-10 11:02] c835722 commented on #17
And [here](http://stackoverflow.com/questions/23657971/installing-yeoman-generator-globally-using-npm-and-github-fork-for-development) is an example of how to install a github dev branch into Yeoman. This might be worthwhile in a FAQ/Wiki sometime in the future.

[2015-02-10 11:02] #17 closed

[2015-02-10 11:06] ghaiklor commented on #17
@c835722 I'll describe how install edge version of generator in README today after I done with customMiddleware approach and swagger documentation :smiley:

[2015-02-10 11:15] ghaiklor opened #19 "Custom middleware support"
I want to include `customMiddleware` feature into `sails.config.http`. Might be done today.

[2015-02-10 15:55] ghaiklor commented on #19
Closed - 735d4af1b5a12f293f6990887f5f512ff8b9d359

[2015-02-10 15:55] #19 closed

[2015-02-10 21:35] ghaiklor commented on #9
So, ok. After a little researching I understand, that without enabled `views` hook we can't do this.
My proposal is add new script to `package.json` which will generate static HTML documentation from Swagger specification or kinda.

[2015-02-10 21:37] ghaiklor commented on #11
I can close this task because of tests is integrated into generator.

[2015-02-10 21:37] #11 closed

[2015-02-10 21:38] ghaiklor opened #20 "Implement all tests"
I add boilerplate for tests here #11 and now need just fill them with test cases. Big task, so need make it in another branch and then merge it.

[2015-02-11 07:43] ghaiklor opened #21 "Upgrade to Sails 0.11"
Sails just released new version of Sails and I want to upgrade it.

[2015-02-11 07:51] ghaiklor opened #22 "Update Readme file with examples, badges and how it works"

[2015-02-11 13:28] ghaiklor opened #23 "Implement proxying all of arguments in each Factory class in services"

[2015-02-11 14:20] ghaiklor commented on #8
b9bdcec

[2015-02-11 14:20] #8 closed

[2015-02-11 14:20] ghaiklor commented on #4
Fixed in #8

[2015-02-11 14:20] #4 closed

[2015-02-11 16:27] #22 closed

[2015-02-11 17:05] ghaiklor commented on #21
As I suppose just updating sails version in `package.json` might works - 8fd8aa9be019425ed838075d70102e90ce956b59

Also remove unused sockets hook from `.sailsrc`.

[2015-02-11 17:05] #21 closed

[2015-02-11 21:15] ghaiklor opened #24 "Fill wiki pages with useful information"
- Client side using
- Describing routes

[2015-02-12 06:28] c835722 opened #25 "Client side call example desired"
Can you provide an example client side call exhibiting general usage pattern?

[2015-02-12 06:42] ghaiklor commented on #25
@c835722 I will add a little bit docs to wiki and readme soon, it's one of priorities to next minor version.

Answering to your question. The basic pattern begins from `/v1/` prefix, then controller's name and action. So, for example, `AuthController.js` -> `signin` will be `/v1/auth/signin`.

The same with `UserController.js` and REST routes. It have default actions in `UserController.js` named `

[2015-02-12 06:57] c835722 commented on #25
Yep, for background I am trying to test the assumed interaction and getting stuck on missing credentials out of a GET /v1/user/:id

[2015-02-12 07:15] ghaiklor commented on #25
@c835722 I got you. If you look into `config/policies.js` you'll see 2 policies in use for `UserController`.

First one it's `isOurApp.js` which checks that your request contain `Application-Token` header with private token inside and second one checks if request has JWT token of authorized user.

So, right from the box you get private API and get all users you can only if you will be authorized.

[2015-02-12 16:08] ghaiklor opened #26 "Extend responses with more codes"
Extend custom responses with more HTTP codes and make more flexible system for extending default root object.

[2015-02-13 11:35] ghaiklor opened #27 "Implement pluralized form only for REST models"
Right now when you enable `pluralize` in `config/blueprints.js` it will assign pluralized form to controllers like `AuthController`. That's no good, so need to fix it, maybe with overriding config in controller.

[2015-02-13 14:09] ghaiklor opened #28 "Override default blueprints"
Need to override default blueprints, so each REST route can return more detailed description in header like `X-Total` or `X-Range`, etc...

[2015-02-14 12:55] ghaiklor opened #29 "Implement search on top of find blueprint"
When you make request to some collection, you should also can send `q` parameter where set which text you should find in records. For example, `GET /tickets?q=search_text&state=open`.

[2015-02-14 12:56] ghaiklor opened #30 "Implement aliases for common queries"
To make the API experience more pleasant for the average consumer, consider packaging up sets of conditions into easily accessible RESTful paths. For example, the recently closed tickets query above could be packaged up as `GET /tickets/recently_closed`.

[2015-02-14 13:05] ghaiklor opened #31 "snake_case vs camelCase"
Which of those variants will be more accessible: `snake_case` or `camelCase`?

[2015-02-14 13:19] ghaiklor opened #32 "Implement returning total count and range in headers"
Great feature if API can send `X-Total-Count` in headers to represent how many records in database exists. Also send `X-Range` to display pointers in current response. For instance, `X-Total-Count: 20` and `X-Range: 5-10`.

[2015-02-14 13:22] ghaiklor opened #33 "Do we need overriding HTTP method?"
Some HTTP clients can only work with simple GET and POST requests. To increase accessibility to these limited clients, the API needs a way to override the HTTP method. Although there aren't any hard standards here, the popular convention is to accept a request header `X-HTTP-Method-Override` with a string value containing one of PUT, PATCH or DELETE.

[2015-02-14 14:15] ghaiklor opened #34 "Move error codes from hardcoded values to config"
I think that the best practice will be move error codes like `E_BAD_REQUEST` or `E_USER_EXISTS` to some config file or any global object.

[2015-02-14 15:07] #26 closed

[2015-02-15 04:16] c835722 commented on #25
@ghaiklor I succeeded in calling a /v1/user/:id
The key consideration was calling the /v1/auth/signup route with credentials of username and password.
Further to this I can call the /v1/auth/signin when these are supplied as form-data along with the JWT token.

[2015-02-16 10:01] ghaiklor commented on #28
Closed - c9db0aa260d315b6e428a7cb9ef69b013b61f3f0

[2015-02-16 10:01] #28 closed

[2015-02-16 12:00] #32 closed

[2015-02-16 13:40] #16 closed

[2015-02-17 15:28] ghaiklor commented on #25
@c835722 I have wrote a little bit documentation in wiki - https://github.com/ghaiklor/generator-sails-rest-api/wiki.

[2015-02-17 15:28] #25 closed

[2015-02-17 15:32] ghaiklor commented on #24
Done simple wiki page - https://github.com/ghaiklor/generator-sails-rest-api/wiki

[2015-02-17 15:32] #24 closed

[2015-02-17 15:55] #33 closed

[2015-02-18 09:57] ghaiklor commented on #27
https://github.com/balderdashy/sails/blob/master/lib/hooks/blueprints/index.js#L244

[2015-02-19 15:39] ghaiklor commented on #14
package.json is now generating dynamically via `fix-deps` tool.

[2015-02-19 15:39] #14 closed

[2015-02-20 03:00] c835722 opened #35 "User signup"
Hi,
I had a test that ran "Ok" against 0.4.0 tag to /signup a user.
In this it passed a username and password in the body.
Post the 0.5.1 code drop this test is fails.
When I check the user DB after the signup "Created" the username and password are not present as fields so when I try to later /signin this fails with "Missing credentials".
Is this a feature (and if so how to I now signin) or perha

[2015-02-20 07:31] ghaiklor commented on #35
@c835722 can you provide your test case? I'll replicate it on my side.

[2015-02-20 08:38] ghaiklor commented on #35
@c835722 I've checked history of `AuthController.js` from 0.4.0 and see that changed only response. Now I'm return not `200 OK` but `201 CREATED`. So you should expect for 201 HTTP code.

[2015-02-20 09:08] c835722 commented on #35
This was the [test] (https://gist.github.com/c835722/91e9dcf438b36f38ecc1) I was running against a service built using default yo parameters. Apologies up front if the error is on my side.

[2015-02-20 09:18] ghaiklor commented on #35
@c835722 And on what line it breaks up? You can post here more additional info when you are running tests. Will better if you just copy\paste the whole testing process.

[2015-02-20 09:21] c835722 commented on #35
/usr/local/bin/node /Users/c835722/.usr/local/projects/quokka/quokka-api-probe-client/node_modules/mocha/bin/_mocha --reporter spec --ui bdd --reporter "/Users/c835722/Library/Application Support/IntelliJIdea14/NodeJS/js/mocha-intellij/lib/mochaIntellijReporter.js" /Users/c835722/.usr/local/projects/quokka/quokka-api-probe-client/test
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6IjU0ZTZmYzc1ZGI2Mm

[2015-02-20 09:23] c835722 commented on #35
Under 0.4.0 the signup was producing a valid username in the db.
After 0.4.0 the signup process is no longer inserting valid username so the subsequent signin fails.

[2015-02-20 09:32] ghaiklor commented on #35
@c835722 This error appears only when you really forgot to send `username` and `password` fields in request:

If user not found in database then you'll get this error

[code]

So, I thinking that problem in request. Can you reproduce this bug manually with some REST client? Suppose that problem in `unirest` which can't send fields in request.

[2015-02-20 17:23] c835722 commented on #35
I can reproduce this via Postman.
Here is a Postman that follows the [wiki](https://github.com/ghaiklor/generator-sails-rest-api/wiki/How-to-use) convention but does not return the username and password in v0.5.1
[code]
When I checkout the v0.4.0 tag && npm install && npm link && re-generate the above command succeeds so the test case is repeatable for me.

[2015-02-20 17:46] ghaiklor commented on #35
@c835722 ok, I see. I'll take a look on this bug tomorrow.

[2015-02-21 10:38] ghaiklor commented on #35
@c835722 I have researched on this and here the results.

Request:
[code]

Response:
[code]

I can't replicate this bug. You must waiting for the response with 201 code.

[2015-02-25 16:17] #35 closed

[2015-02-25 16:19] ghaiklor opened #36 "Move questions to CommonJS modules"
Need to think, where we can place questions list, so it will be easy maintainable.

[2015-02-25 16:21] ghaiklor opened #37 "Move steps to CommonJS modules"
For example we have `initializing` section. We can move it to CommonJS module, so `index.js` will be more easy to read and maintain.

[2015-02-26 14:49] ghaiklor opened #38 "Improve responses with underscore attributes"
When we are working with models declarations, we must follow JavaScript style guides. So any attribute will be named in camelCase. But when we send response, we must send in under_score style.

So my proposal it's replace camelCase attributes with under_score in responses.

[2015-02-26 14:50] ghaiklor commented on #38
Question for discussion here - #31

[2015-02-26 16:05] #36 closed

[2015-02-26 16:40] #37 closed

[2015-02-26 16:41] ghaiklor commented on #31
snake_case will be better. I'll start working with it in #38

[2015-02-26 16:41] #31 closed

[2015-02-27 16:30] ghaiklor commented on #15
Added list of questions.

[2015-02-27 16:30] #15 closed

[2015-02-27 16:31] ghaiklor commented on #18
This logic must be implemented in controller. Closing this issue.

[2015-02-27 16:31] #18 closed

[2015-03-02 19:21] savager opened #39 "Do you need to add views?"
Could benefit to see an example of adding a single view.

[2015-03-02 20:39] ghaiklor commented on #39
@savager This generator useful for scaffolding backend part and only backend (REST API). Views are disabled by default. If you need generate project with views then better to use sails generator:

[code]

But, if you need add view here, then you should clean `hooks` object in `.sailsrc` file. So your file will be with next content:

[code]

Add configuration file `views.js` with next content:

[co

[2015-03-02 20:41] ghaiklor commented on #39
So now I see, that I MUST add feature which allows generate not only backend by answering on question. So, my proposal is add question "Do you need only backend?" or kinda. If not, then I'll generate all other stuff. I'll add this to my roadmap.

[2015-04-07 17:58] orthodoc opened #40 "Running node app.js fails with error: missing sails-disk adaptor"
Unable to run the server. Installing the sails-disk package with npm still leads to the following error stack
[code]
node 0.12.1

[2015-04-07 18:11] orthodoc commented on #40
My mistake. Running the following command took care of the error:

[code]
Running the same with the -g flag didn't help in the first place!!

[2015-04-07 18:11] #40 closed

[2015-04-07 19:13] ghaiklor commented on #40
@orthodoc yeah, know issue. The problem, that when I'm parsing AST from generated sources, I can't parse list of adapters which you choose. So, for now, you should install needed sails adapter manually. Will be fixes in future releases :smiley:

[2015-04-09 04:08] orthodoc opened #41 "No route to match the PATCH action verb"
PUT /model/:id results in

[code]
PATCH /model/:id results in

[code]

[2015-04-09 08:47] ghaiklor commented on #41
@orthodoc this issue is specific for Sails framework and already done PR for that feature - https://github.com/balderdashy/sails/pull/2006

[2015-04-09 08:47] #41 closed

[2015-04-09 15:23] orthodoc commented on #41
:+1: Absence of tests and merge conflicts are preventing the PR, and this was filed ages ago. Wow!

[2015-04-12 10:28] ghaiklor commented on #13
After some changes in service structure it will not be implemented, because it's not needed feature.

[2015-04-12 10:30] ghaiklor commented on #39
After some thoughts I decide to close this issue. Our generator's task - it's generate clean REST API. Without views, localization, etc... So this feature will not be implemented.

[2015-04-12 10:30] #39 closed

[2015-04-17 05:14] orthodoc opened #42 "Creating a user via signup throws a not null constraint error with postgresql"
The `signup` method defined in the AuthController creates the user with this function:  `User.create(req.allParams())`.

`console.log(req.allParams())` reveals that the id is undefined.

Postgresql throws up the following error as a result:
`Error (E_UNKNOWN) :: Encountered an unexpected error`
`error: null value in column "id" violates not-null constraint`

[2015-04-17 05:20] orthodoc commented on #42
Removing the id parameter by passing `delete req.allParams().id` leads to successful creation of the user. Adding `autoPK: true` to the config/model.js is not necessary.

Thanks to [RWOverdijk](https://github.com/RWOverdijk) for pointing this out.

[2015-04-17 07:49] ghaiklor commented on #42
@orthodoc so seems that fix for that will be change `signup` action to this:

[code]

[2015-04-17 14:48] ghaiklor commented on #42
Done in this way:

[code]

[2015-04-17 14:48] #42 closed

[2015-04-17 15:10] orthodoc commented on #42
:+1:

[2015-04-17 22:51] eswann opened #43 "Failure after initial install of npm packages"
When I attempt to generate a new project...I'm taken through the steps to create the project/DB etc...  All of the files get created, some packages get installed...then error is thrown.  Any ideas?

I tried with both Postgres and Mongo.  I'm using 0.9

[code]

[2015-04-18 06:50] ghaiklor commented on #43
@eswann seems that this issue Windows specific. The problem can be in relative path and how Windows handle it in difference from Unix\Linux.

Can you reproduce it on other platform ?

[2015-04-18 06:59] ghaiklor commented on #43
Or you can try fix that issue in` dependency-check` module for you specific case. Then you can create PR to https://github.com/maxogden/dependency-check
But I'm going to create own parsing AST with detective, so it can be fixed soon.

[2015-04-19 18:49] eswann commented on #43
Yeah I assumed it was a windows FS issue, perhaps a path depth situation.  Unfortunately I'm constrained to a win machine for this project.... :(

[2015-04-19 20:10] ghaiklor commented on #43
@eswann great. I leave this issue opened and in future releases try to fix that (if I found somewhere notebook with Windows)

[2015-04-21 10:31] ghaiklor commented on #13
Yeah, for sure it's not needed. Closing this issue.

[2015-04-21 10:31] #13 closed

[2015-04-21 10:34] ghaiklor commented on #30
Seems that this feature is specific for each project. So don't see reason to make it in generator.

[2015-04-21 10:34] #30 closed

[2015-04-22 09:03] orthodoc opened #44 "Posting to auth/facebook returns E_NOT_FOUND error (404)"
I am making a $http request to v1/auth/facebook route
Have defined the baseUrl, appToken as variables in the same file (not in the code over here). Successfully implemented signup and signin using similiar methods. My understanding from reading the wiki is that I need to pass the access_token obtained from facebook as params, and so the code below.
[code]
Then calling the req through a service met

[2015-04-22 09:09] orthodoc commented on #44
Passing it as a plain header:

[code]
doesn't work as well. Do I need to to encode the acess_token? The docs at the wiki are not clear on this step for the facebook strategy.

[2015-04-22 09:16] ghaiklor commented on #44
@orthodoc you should read changelog :smiley:
When I face the problem with social profiles, I understand, that declaring separate route for each social - it's bad move, because all the logic is the same for each social.
So I create route `/v1/auth/social` which accepts `type` parameter where you say which social you want to use for authorization. Take a look at `AuthController.social`.
This move al

[2015-04-22 13:38] orthodoc commented on #44
Ok.
Changed the url to `auth/social`
Added the following to params: `{ "access_token": <token>, 'type': 'facebook' }`
And I got the error: `error: column user.socialProfiles.facebook.id does not exist`

Looking at the User.js model file, the socialProfiles attribute is described as:
`socialProfiles: { type: 'object', defaults: {} }`

 I couldn't find 'object' type in the list of attributes current

[2015-04-22 14:07] ghaiklor commented on #44
@orthodoc hm... very strange. You can try set to `json`. This logic is going in `config/passport.js` at `_onSocialStrategyAuth`. You can take a look here and try to fix that.

[2015-04-23 04:49] orthodoc commented on #44
Possibly related to balderdashy/sails-postgresql#36

However, changing the type to `json` returns the same error as above. I am looking at `_onSocialStrategyAuth`.

[2015-04-23 06:13] ghaiklor commented on #44
@orthodoc you can try switch to another adapter. If with another adapter it works, then this bug really specific for adapter.

[2015-04-26 19:12] orthodoc commented on #44
If I switch the connection to `memory` it works but not with `postgresql`. Filed an issue balderdashy/sails-postgresql#155

[2015-04-27 09:20] ghaiklor commented on #44
@orthodoc thinking about this issue. Also can be, that postgresql adapter doesn't support dot.notations. If so, then we need to make it ourself :smile:

[2015-04-27 15:41] orthodoc commented on #44
@ghaiklor, how do I do that? Any guidance on that...

[2015-04-27 16:39] ghaiklor commented on #44
@orthodoc if to be honest, I don't know for sure how to implement this in adapter-level. But again, returning to your error snippet. Seems that adapter can't find facebook id and failing. In normal adapters, `findOrCreate` creating record if not founded. Maybe issue with `find` action in adapter. Can you try replace `findOrCreate` with `find` and see what happens?

[2015-04-27 18:22] orthodoc commented on #44
When I replace the `findOrCreate` method with `find` I get exactly the same error:
`error: column user.socialProfiles.facebook.id does not exist`

If I use the method `create` instead, then I get the following error:
[code]
I am really stumped on this one.

[2015-04-28 06:15] orthodoc commented on #44
@ghaiklor any comments on [this comment](https://github.com/balderdashy/sails-postgresql/issues/155#issuecomment-96780011). [@dmarcelino](https://github.com/dmarcelino) seems to concur with you.

Does using associations mean that I should create another model socialProfiles and use a one-to-many association between user and socialProfile?

[2015-04-28 08:36] ghaiklor commented on #44
@orthodoc it's better. If you can call `create` and it works (never mind to email validation rule) - it's better.
And no, `socialProfiles` it's just storage for you social profiles, so I can find you if you try to signin again. You don't need set association with this field.

[2015-04-28 16:56] orthodoc commented on #44
@ghaiklor, I can confirm that I am able to use the `create` method to create the user record but then I guess I have to write out a query to check if the record exists when the user returns. Maybe I need to change the variable `criteria` to be email instead of the social id.

[2015-04-28 18:28] orthodoc commented on #44
Bt the way, I just checked that with `jsonb` type which is available with postgresql-9.4, I can do a deep nested query in this way:
[code]
It does return a unique record, and also a null record when there's no match.

[2015-04-29 08:14] ghaiklor commented on #44
@orthodoc so seems that @sails-postgresql can implement this ?

[2015-04-30 00:13] eddieajau opened #45 "Patching"
@ghaiklor I was looking over the code and thinking about patching. What if we did something like, for example, taking the services and breaking them into discrete, published modules like `sails-service-cipher`, `sails-service-mailer`, and so on.

`CipherService.js` would then become, simply:

[code]

That would make it trivial to add new ciphers, mailers, payment gateways, etc and so on in the fut

[2015-04-30 06:21] eddieajau opened #46 "Error: In model (user), invalid connection :: disk"
Getting this error on lift:

[code]

This is caused by the fact that `/config/etc/development.js` sets the default connection to "disk", but that connection is not defined anywhere.

Let me know how you want that fixed and I can send in a PR.

[2015-04-30 06:22] eddieajau commented on #46
Oh yes it is, I just commented it out. Sorry.

[2015-04-30 06:22] #46 closed

[2015-04-30 06:30] ghaiklor commented on #45
@eddieajau I'm already thinking about this too. The problem here, that Sails can't autoregister services, so yes, we need to talk and hope that they are agree with us to implement this.
I already done with many passport strategies as separate modules and want to do this with services. In that case we will have small percent of code that can be affected with generator update and everything else wil

[2015-05-08 13:33] ghaiklor commented on #45
@eddieajau I have moved all the services to separate npm modules - a8bea2707a874b708b59694353c9992c9646713a

So my next step it's done some stuff in generator and start working with each of this services. You can find them in my repos.

[2015-05-08 13:33] #45 closed

[2015-05-08 13:33] ghaiklor commented on #44
This issue is forwards to sails-postgresql adapter.

[2015-05-08 13:33] #44 closed

[2015-05-08 13:34] ghaiklor commented on #43
This issue is forwards to dependency-check module and need to fix that there.

[2015-05-11 19:17] orthodoc commented on #44
`jsonb` does allow deep nested query but `sails-postgresql` doesn't. Which means that the following code:
[code]
will return errors. :disappointed:

[2015-05-11 19:41] ghaiklor commented on #44
@orthodoc you can send this information to sails-postgresql repo. I believe, that it can be done, if you did this using native queries. Also, I thinking about another structure for saving because of issues like this. But I'll return to this when I done with services modules.

[2015-05-27 14:23] ghaiklor opened #47 "Make logs more readable"
We can make logs more readable with `json: false` in DailyRotate transport

[2015-06-07 20:05] ghaiklor opened #48 "GitHub experiment"

[2015-06-08 07:51] #48 closed

[2015-06-08 07:53] ghaiklor opened #49 "GitHub Experiment"

[2015-06-10 07:28] #49 closed

[2015-06-22 16:58] ghaiklor opened #50 "Make clean task"
Make npm script that cleaning up tmp folder

[2015-06-22 16:58] ghaiklor opened #51 "Cover controllers and models with tests"

[2015-07-16 17:15] IncoCode commented on #38
Temporary solution:
[code]

[2015-07-16 17:20] ghaiklor commented on #38
@IncoCode I'm starting to think about custom hook for Sails, as you proposed before. Because, I think, it shouldn't be hardcoded in responses and if someone want to install this one to own project without our generator - custom hook will do this.

[2015-07-16 17:21] ghaiklor opened #55 "Make sails-hook-responses-underscore"
Discussion here - #38
My proposal it's make another npm module kinda *sails-hook-response-underscore* and just include it in our generator as dependency.

@IncoCode need to discuss about it.

[2015-07-21 05:17] willjleong opened #59 "Blueprint find() does not return X-Total-Count"
Proposed Fix: add line res.set('X-Total-Count', count) inside the .spead() in api/blueprints/find.js

[2015-07-21 06:44] ghaiklor commented on #59
@willjleong I'd thinking about this, but `X-Total-Count` is deprecated header. That's why we move it to root response object. Anyway, I'll mark this for discussion, maybe as a legacy code it will be added.

[2015-07-21 06:47] ghaiklor commented on #23
Closed due different architecture of services

[2015-07-21 06:47] #23 closed

[2015-07-22 06:53] IncoCode commented on #34
https://github.com/IncoCode/sails-service-error-codes/blob/dev/README.md#usage

[2015-07-22 06:57] IncoCode commented on #20
Each service has its own tests. Can we just copy/paste them here? :smile:

[2015-07-22 07:23] ghaiklor commented on #34
@IncoCode Still keep it in open, because we don't have strict structure for it. We need a board and free time :)

[2015-07-22 07:25] ghaiklor commented on #20
@IncoCode services is different. We don't need to cover them with tests, just require at all. We need tests only for all stuff under `api` folder - #54

[2015-07-24 10:48] IncoCode commented on #55
How about to override ```jsonx``` function which in ```response``` object?
[code]
Maybe there's a better way to override it.

[2015-07-24 10:51] ghaiklor commented on #55
@IncoCode hm... it's better than before. If `jsonx` is really function that calls everytime on response, that we can do that way.

[2015-07-24 11:03] IncoCode commented on #55
https://github.com/balderdashy/sails/issues/1918#issuecomment-61551367

https://github.com/balderdashy/sails/blob/master/lib/hooks/responses/index.js#L204
@ghaiklor and you call it in every response.

[2015-07-24 11:11] IncoCode commented on #55
Yeah, we can override it in another way:
[code]

[2015-07-24 11:12] ghaiklor commented on #55
@IncoCode I see, ok. You can try and will look into this. If solution is so simple, then we even don't need hook for that. Just place it somewhere in middlewares at all.

[2015-07-29 12:46] mhipo1364 opened #62 "Add new controller"
Thanks for this useful repo, but I don't know how add a new controller to system which this module can handle it as other controllers which is called by /v1/CONTROLLER_NAME/... ?

[2015-07-29 12:51] IncoCode commented on #62
```sails generate controller <controller name>```
http://sailsjs.org/documentation/concepts/controllers/generating-controllers
If you want to create model with controller use the following command:
```sails generate api <name>```

[2015-07-29 12:54] mhipo1364 commented on #62
thanks, I'm familiar with these commands, but after creating controller, I have to add controller route and put `/v1` at the begin of route

[2015-07-29 13:07] IncoCode commented on #62
Works fine for me :confused:
@ghaiklor

[2015-07-29 13:49] ghaiklor commented on #62
@mhipo1364 Sails is automatically bind controller's actions to appropriate routes. See `config/blueprints.js` file for customizing this. If you want to add controller, you can just create new file in `api/controllers` and it's automatically bind all actions to `/v1/<CONTROLLER_NAME>/<ACTION_NAME>` route.

So, anyway, if you have strict steps for reproduce this bug, please share.

[2015-07-29 14:02] mhipo1364 commented on #62
I have VoucherController with this content:
[code]

and this is my blueprint:
[code]

[2015-07-29 14:06] aars commented on #62
One obvious issue is your prefix is `/api`, not `/v1`

[2015-07-29 14:07] mhipo1364 opened #63 "actions in controller http verbs"
I need to fix my actions on one particular http verbs, for example, when user wants to create new content, just POST verb can do it and when he use another verb, application respond with `405 - Method Not Allowed` exception. How can I do this?

[2015-07-29 14:09] mhipo1364 commented on #62
@aars : yeah I know that, I write my problem with default config to not confusing. :smiley:

But, my problem is not this

[2015-07-29 14:39] ghaiklor commented on #62
@mhipo1364 still don't get it. You have `VoucherController` and action `index`. Your route to this - `api/voucher` (in your case)

[2015-07-29 14:42] ghaiklor commented on #62
@mhipo1364 I'm using `v1` prefix, because in future you can change API to your application, but you must left old API also.

So you just create\update Sails app, set in `config/blueprints` prefix to `v2` and you got 2 apps that handles old API and new one.

You have created controller, that works fine by `/api/voucher`. Everything is works.

[2015-07-29 14:45] ghaiklor commented on #63
@mhipo1364 it's your custom behavior then. You can override actions `create`, `find`, `findOne`, `update` or `destroy` in your controller and set all the checks here.

Or using policies and apply them to controllers that you want to cover with that.

[2015-07-29 18:33] mhipo1364 commented on #63
Dear @ghaiklor really thanks for quick response, would kindly help me to handle this issue?

I really need this but I do't have any idea to implement it

[2015-07-29 19:03] ghaiklor commented on #63
@mhipo1364 each controller has pre-defined `create` (POST), `find` and `findOne` (GET), `update` (PUT) and `destroy` (DELETE) actions. When you don't have those actions in your controller and make request `POST /v1/model`, for instance, then executes pre-defined action called `create` in your controller.

You can override this behavior just define your own action like

[code]

In this case route w

[2015-07-29 19:14] mhipo1364 commented on #63
@ghaiklor : really thanks :+1:

[2015-07-29 19:45] ghaiklor commented on #63
@mhipo1364 if this helps, I can close this issue. Re-open it if you need it :+1:

[2015-07-29 19:45] #63 closed

[2015-07-29 20:09] mhipo1364 opened #64 "Read some useful data from cache"
Hi

I have some data which are very common and I need to fetch them so many times, how can I read them from redis?

[2015-07-31 17:41] mhipo1364 opened #65 "Services"
Hi

How can I send email using MailerService? Is there any boilerplate for calling and its options?

[2015-07-31 21:18] ghaiklor commented on #64
@mhipo1364 Just use sails-redis adapter for working with Redis database. You can specify as many connections in `config/connection.js` file as you want. And then just use this connections to describe models and which storage\adapter this model should use.

[2015-07-31 21:19] ghaiklor commented on #65
@mhipo1364 did you install last stable version from npm or dev version from GitHub ?

I'm asking because last version from dev has separated services and you can find docs here - https://github.com/ghaiklor/sails-service-mailer

[2015-08-01 16:13] mhipo1364 commented on #65
@ghaiklor  I get it from here:
https://www.npmjs.com/package/generator-sails-rest-api

but I don't have sails-service-mailer in my node-modules directory

[2015-08-01 16:22] ghaiklor commented on #65
@mhipo1364 so you are using last stable version where our new changes don't applied. You can install `sails-service-mailer` from repository above and just follow the README. You can replace your existing service with new one.

New version of generator-sails-rest-api will be in few weeks where all this will be by default.

[2015-08-01 18:54] mhipo1364 commented on #65
:+1:

[2015-08-06 21:58] #65 closed

[2015-08-06 22:01] mhipo1364 opened #66 "M2M relationship in get model"
Hi

I need an advice, I have a M2M relationship, then I want to get data from one of entities which has relation to specific record on other entity. How can I use find blueprint to get it by default ?

[2015-08-06 23:10] mhipo1364 commented on #64
@ghaiklor : Thanks

Could I use both adapters for model, then sails handle to add data to these adapters or I need to create 2 models for supporting this feature?

[2015-08-06 23:11] #62 closed

[2015-08-06 23:52] willjleong commented on #66
Check this out http://stackoverflow.com/questions/23446484/sails-js-populate-nested-associations
You will have to apply this idea to your find() with a forEach() probably.  You can override the blueprint find() if you put it in the controller
[code]

[2015-08-07 00:33] mhipo1364 commented on #66
Thanks @willjleong , but I thought this package has this option, because it checks if we want to see which associates.

[2015-08-07 00:38] willjleong commented on #66
Currently, Sails.js/Waterline only supports 1 level deep populations. Deeper populations need to be implemented in a way similar to the link I posted.  It's true this package does have custom blueprints that support auto-populations, but they still only go one level deep.  You need to override each blueprint action in the controller if you want a certain action like findOne() or find() to return p

[2015-08-07 00:45] willjleong commented on #59
Agreed, is a less popular header now, but there are plenty of front-end libraries that expect the header for pagination. This was the solution I used when integration sails with ng-admin.  It could be potentially added as an config option, but by no means necessary.

[2015-08-07 06:59] ghaiklor commented on #64
@mhipo1364 as I know model can manage only one connection. If you need to manage one model with many different connections, then maybe you're looking for wrong solution :smiley:

[2015-08-07 07:02] ghaiklor commented on #66
@willjleong @mhipo1364 Some guy from Waterline implement deep cursor, so I think in future Sails adapters can handle deep populations.

[2015-08-07 15:13] mhipo1364 commented on #64
@ghaiklor : Yes I know, I'm `Django` developer, in `Django` we have a `cacheops` which manages all models caches and work with signals, that means when a record creates or updates, `cacheops` automatically updates cached data on redis. I'm searching something like this in `sails.js`

[2015-08-07 16:25] ghaiklor commented on #64
@mhipo1364 in this case you don't need be tight to SailsJS. You can look any solutions for NodeJS.

[2015-08-10 16:04] #50 closed

[2015-08-10 16:04] #51 closed

[2015-08-10 16:04] #47 closed

[2015-08-10 16:05] #64 closed

[2015-08-10 16:05] #66 closed

[2015-08-10 16:07] ghaiklor commented on #59
2a85e0a8c38cb1712a3a9fc2133bd86388491146

[2015-08-10 16:07] #59 closed

[2015-08-11 10:57] ghaiklor opened #67 "Fix dependency-check for test folder"
When you are running generator, I'm reading all your project structure with recursive. And then, when I'm getting relative paths, I pass it to checkDependency. The problem here that checkDependencies can't work with relative paths.

[2015-08-11 11:00] ghaiklor commented on #9
API Explorer should be dynamic, so I think we don't need to declare all the documentation for it. Will be enough just routes\models parsing from already written code.

[2015-08-11 11:00] #9 closed

[2015-08-11 11:01] ghaiklor commented on #20
OK, so basically we cover all the required controllers\models\etc... From now we can just improve this test coverage with time.

[2015-08-11 11:01] #20 closed

[2015-08-12 08:37] #67 closed

[2015-08-12 08:38] ghaiklor opened #68 "Implement refresh token route"
We need route that can refresh JWT tokens and send new one.

[2015-08-12 08:52] #68 closed

[2015-08-12 09:06] ghaiklor opened #69 "Split services config from services to config folder"
sails is not defined when you're trying to get config in services.

[2015-08-14 12:23] ghaiklor commented on #29
We can create `SearchController` that accepts `q` param and try to find text from `q` in all models or specific model.

[2015-08-15 20:49] willjleong opened #70 "beforeUpdate in User.js causes double hashing when calling .save()"
Updating the password should be a custom method called on the User model.  If .save() is called on a user instance, the password gets double hashed and user will be unable to login.  Another class or instance method should used only for updating the password.

[2015-08-16 06:23] ghaiklor commented on #70
@willjleong how can I reproduce it? Just make `PUT /v1/user` and update the model?

[2015-08-16 06:37] mhipo1364 commented on #70
@willjleong  @ghaiklor  I think we can drop getting hashed password on beforeUpdate method, then use it in another custom method, because beforeUpdate and ... works with signals, and runs on each update

[2015-08-16 06:50] ghaiklor commented on #70
@willjleong @mhipo1364 beforeCreate and beforeUpdate I'm checking if you sending new password in values. If not, then values.password is not updating. So I need to know how can I reproduce it.
We can do another method in User instance that will just receive new plain password and updating in model for new one, without any checks.

[2015-08-16 06:57] willjleong commented on #70
If you do something custom in a controller where you add something to the user and the call .save() on it, the password will get hashed again, and the user will no  longer be able to login.

For example if your user has many favorites relationship you'd do something like this:
[code]

the .save() instance method will actually trigger the beforeUpdate(){} class hook and because the password is not

[2015-08-16 07:01] ghaiklor commented on #70
@willjleong I see, any ideas to fix it? Except creating another method in model. If I'll not find any solutions I make smth like

[code]

[2015-08-16 07:10] mhipo1364 commented on #70
@ghaiklor I think keep it simple, changing password scenario in most popular web apps has a separated scenario, so you can change it in another action; just like your example.

[2015-08-16 07:11] willjleong commented on #70
@ghaiklor I think that is a pretty good solution.
Just have to make sure that when the user is updated with a param 'password' just call user.refreshPassword() in the User.update().then(function(){return user.refreshPassword(param.password) }).

You'll probably have to override the update function in UserController.js. Also probably add a reset password route in AuthController.js that requires the

[2015-08-16 07:13] ghaiklor commented on #70
@mhipo1364 @willjleong yeah, seems good solution. I'll start on it from tomorrow.

[2015-08-19 10:37] #29 closed

[2015-08-19 10:38] ghaiklor opened #76 "Optimize find and findOne blueprints"
We need to optimize our blueprints for selecting only the fields that you actually send via `fields` param.

[2015-08-19 17:16] IncoCode commented on #27
It can be done using following hook:
[code]

[2015-08-19 22:10] ghaiklor commented on #27
@IncoCode You can make simple hook in `api/hooks` for try out. And if everything works great then I can merge PR with this hook.

[2015-08-20 17:04] mhipo1364 opened #78 "Empty password in signing up"
Hi guys, I think we should make`password` required. I just figured it out.

I've added `require:true` in `User` model, in next try, got `500 -Server Error-`, because in `signup` method, we throw error using ServerError response if catch exception.

We  need to respond a proper message if catch error.

[2015-08-21 13:01] ghaiklor commented on #78
It needs for auth via social networks.

[2015-08-23 12:10] ghaiklor opened #79 "Make hotfix for optimize socket destroy"
We should make hotfix in `http.createServer()`. We are waiting for merging this in NodeJS or make something similar in Sails.

Hotfix:

[code]

[2015-08-25 04:46] synergycns commented on #70
@ghaiklor you could also either have beforeUpdate check to see if the password is less than 60 characters, or implement some sort of isHash(password):Boolean in your HashService

beforeUpdate: function (values, next) {
    if (values.password && values.password.length < 60) {
      values.password = HashService.bcrypt.hashSync(values.password);
      console.log('beforeUpdate - Hashed password: '

[2015-08-25 04:48] mhipo1364 commented on #70
@synergycns : What if user provides a password with more than 60 characters? :smiley:

[2015-08-25 11:57] ghaiklor commented on #70
@mhipo1364 @synergycns yeah, I want to be more secured, so I have password with Russian, Ukrainian and English alphabets :smiley:
But seriously, what's the reason for this case ? Have you any use-cases for it ?

[2015-08-25 11:57] #27 closed

[2015-08-25 13:19] synergycns commented on #70
Bcrypt has a maximum input length of 56 bytes and generates hashes that are 60 characters long. So, if you're dealing with passwords that are longer than 55 characters, you can't use bcrypt anyway. Otherwise, the hash string will always be 60 characters in length and that's the length that I always use for database columns that will contain bcrypt-hashed strings. Also discussed in more details her

[2015-08-25 16:16] synergycns commented on #70
@ghaiklor just to make things a bit cleaner than just looking for a string that is less than 60 characters, I've made the following changes on my fork. Hope this helps:

1. HashService.js

var hashes = require('sails-service-hash');
var BCRYPT_REGEX = /^\$2[aby]\$[0-9]{2}\$.{53}$/;

module.exports = {
  bcrypt: hashes.create('bcrypt', {}),
  isBCryptHash: function(string) {
    var blnIsHash = BCR

[2015-08-25 16:33] IncoCode commented on #70
[code]

[2015-08-25 16:40] synergycns commented on #70
Does the "findOne" call result in an additional DB query? I'm new to sails so, I don't know. If it does, than it seems extraneous to perform another DB lookup on the model prior to updating. If it doesn't than, yes, this way is better.

[2015-08-30 22:01] mhipo1364 opened #80 "socket.io error 400"
Hi guys

I have a situation, when I ran my project with pm2 (with single cpu core) , everything was fine, but when I ran it again with -i 2 switch, I got error 400 in /socket.io !!

What is the problem ? How can I fix it?

**I notified via newrelic**

[2015-08-31 08:00] ghaiklor commented on #80
@mhipo1364 We don't support sockets here. Basically, I've disabled them because REST API doesn't need it.

[2015-08-31 08:02] mhipo1364 commented on #80
@ghaiklor I don't use it in entire of project, but when I deploy project using pm2 and cluster mode( -i 2 ), I think it use socket.io for some reason, isn't it?

[2015-08-31 11:11] ghaiklor commented on #80
@mhipo1364 strange. I've never saw this issue before.
@IncoCode some ideas ?

[2015-08-31 11:19] mhipo1364 commented on #80
@ghaiklor: error happens on /socket.io :

![Image of Yaktocat](http://oi62.tinypic.com/wr1655.jpg)

It happens 30 times in average every single seconds!!

[2015-08-31 12:46] IncoCode commented on #80
Maybe, sockets are not disabled? [`.sailsrc`](https://github.com/ghaiklor/generator-sails-rest-api/blob/dev/generators/app/templates/.sailsrc#L7-L12) file has no `sockets: false`.

[2015-08-31 12:50] ghaiklor commented on #80
@IncoCode @mhipo1364 they are moved to separate npm module. I suppose it should be disabled.
@mhipo1364 try to add `"sockets": false` into your `.sailsrc` file.

[2015-08-31 12:51] mhipo1364 commented on #80
Sure, thanks guys. :+1:

I will put my result here after testing

[2015-08-31 18:15] mhipo1364 commented on #80
Yeah, exactly, we should add `"sockets": false` in `.sailsrc` file.

@ghaiklor @IncoCode Thanks

[2015-09-01 08:44] ghaiklor commented on #80
@IncoCode we need to make hot-fix for it :+1:

[2015-09-01 19:36] ghaiklor commented on #80
Fixed and released under patch version

[2015-09-01 19:36] #80 closed

[2015-09-01 19:38] mhipo1364 commented on #80
@ghaiklor :+1:

[2015-09-04 19:55] komocode opened #82 "JWT is pinging the database?"
Using JWT seems to be hitting the database to verify the user. Isn't the whole point of JWT is to avoid pinging the database in the first place? Otherwise we may as well use sessions and store the sessions in the DB

[2015-09-04 20:19] komocode commented on #82
Nevermind, I was confused.

[2015-09-04 20:19] #82 closed

[2015-09-05 07:38] ghaiklor commented on #82
@komocode Why are you confused ? We need to make query to database because we don't have sessions.

[2015-09-05 07:40] komocode commented on #82
I misunderstood JWT. I thought JWT as long as you can decode the payload successfully, that would be the verification point.

[2015-09-05 07:43] ghaiklor commented on #82
@komocode you're right, we can store all the model in the payload. But don't forgot that JWT is just base64, so you can decode base64 and get payload from JWT. That's why we store only user's id and other information get from database.

[2015-09-05 07:47] komocode commented on #82
Right, that would be too costly to transmit/decode, and would need to refresh every time user data changes. I got it now, thanks!

[2015-09-06 00:10] komocode commented on #70
Need to watch out for users that provide passwords longer than 60 characters. Some use password managers and crank up the length to 64 randomized characters.

[2015-09-06 07:53] ghaiklor commented on #70
@komocode what can we do with that though ? My password manager generates password up to 16 symbols and it's fine. All what can be done is respond with error that you have typed too long password.

[2015-09-06 08:10] komocode commented on #70
Sorry, I didn't see that @mhipo1364 already mentioned the 60 characters. but yes we can put a check on password being >32 characters. If it is, it's a hash, if not, hash it.

[2015-09-07 16:11] ghaiklor opened #83 "Improve find and findOne blueprint with select"
Right now we are grabbing all data from the database and filtering them out. We should use `select` attribute in Waterline for select only the fields that we need to get.

[2015-09-08 08:04] ghaiklor opened #84 "Add page param to requests"
Will be better to provide `page` parameter so request can looks like `limit=10&page=2`.

[2015-09-08 08:09] ghaiklor opened #85 "Add description in code response"
When we are respond with some status, also will be great to respond with `description` where we can describe the problem for developer.

[2015-09-08 08:10] ghaiklor opened #86 "Implement X-Rate-Limiting"

[2015-09-08 08:13] mhipo1364 opened #87 "Update to latest version"
I'm wondering how can I update this package to latest version ?

Because I've changed `User`, ... models, also `UserController`.

[2015-09-08 08:16] #78 closed

[2015-09-08 08:16] ghaiklor commented on #79
As I know PR will be merged in latest NodeJS versions.

[2015-09-08 08:16] #79 closed

[2015-09-08 08:17] ghaiklor commented on #87
@mhipo1364 you can just call `npm -g update` if you had installed `generator-sails-rest-api` in global scope and call the generator again. But don't forgot that it can rewrite your current project.

[2015-09-08 08:18] mhipo1364 commented on #87
@ghaiklor: yeah, I'm worry about overriding, thanks man :+1:

[2015-09-08 08:19] #87 closed

[2015-09-08 14:15] #83 closed

[2015-09-08 14:16] #76 closed

[2015-09-08 14:27] ghaiklor commented on #86
Closed due uselessness.

[2015-09-08 14:27] #86 closed

[2015-09-08 14:29] #84 closed

[2015-09-08 15:53] ghaiklor commented on #55
Closed due compatibility issues with request in snake_case too.

[2015-09-08 15:53] #55 closed

[2015-09-08 15:53] #38 closed

[2015-09-09 19:09] mhipo1364 opened #90 "populate data from relation in blueprints"
Hi

I need to populate data in blueprints `GET` , for example I want to get `contents` which have some particular `tags`, How can I do this?

I'm so confuse about node.js ORM capabilities

[2015-09-09 20:17] gadonski opened #91 "Error on creating a new project"
i am trying to create a new project, but occurs these errors:

$> yo sails-rest-api
Checking for updates...
OK... You are using the latest version 0.10.4

Database questions:
? Choose database adapter: MySQL
? Type your database host: localhost
? Type your database name: sails-rest-api
? Type your database username: root
? Type your database password:

Application questions:
? Type your applicatio

[2015-09-10 12:25] ghaiklor commented on #90
@mhipo1364 You can use default `populate` blueprint for this purpose. Here is the routes `GET /:model/:parentId/:relation` and `GET /:model/:parentId/:relation/:id`. So, you can make `GET /v1/users/<USER_ID>/contents`.

But, if you want to lookup for specific records based on your criteria we have a problem here. You can try make smth like `GET /v1/contents?where={tags: [1,2,3]}`

[2015-09-10 12:27] ghaiklor commented on #91
@gadonski I've seen this issue before on Windows machines. I can't reproduce this, 'cause I'm running this on OSX and Linux. If you find the solutions, you can make PR that fix that.

[2015-09-11 14:37] ghaiklor commented on #85
We can't do general description field in response, so I close it.

[2015-09-11 14:37] #85 closed

[2015-09-11 14:56] ghaiklor commented on #70
@willjleong what you think about this solution?

[code]

[2015-09-11 19:28] IncoCode commented on #91
https://github.com/maxogden/dependency-check/issues/30

[2015-09-12 20:25] mhipo1364 commented on #90
Wow, so painful :|

Thanks dear @ghaiklor

[2015-09-12 21:22] ghaiklor commented on #91
@gadonski can you check the latest version of generator from dev branch ? I've updated patched dependency-check for Windows.

[2015-09-12 21:23] ghaiklor commented on #43
@eswann can you check the latest version of generator (from dev branch) ? I suppose that issue with Windows machines is fixed.

[2015-09-12 21:52] ghaiklor opened #92 "Allow to change bodyParser to another parser"
Does it make sense? We can update bodyParser in `config/http.js` and start using something better that default Sails parser.

[2015-09-13 01:26] gadonski commented on #91
I will try on Sunday. Today i am on a Mac.
Em 12/09/2015 18:22, "Eugene Obrezkov" <notifications@github.com> escreveu:

[2015-09-13 14:28] mhipo1364 commented on #90
How can I get populated relations via `GET  /:model/:parentId/:relation` ?

[2015-09-13 17:07] ghaiklor commented on #90
@mhipo1364 you just make `GET /users/<USER_ID>/assoc` request and that's it. For instance.

[code]

In this case you make `GET /v1/users/<USER_ID/comments` and get all comments of specified user.

[2015-09-13 19:35] mhipo1364 commented on #90
yes I know, I want to populate other relations, for example comments has some relations with other entities, I want to get them also

[2015-09-13 19:39] ghaiklor commented on #90
@mhipo1364 this one is called deep populate and can't be achieved via blueprints, yet... I hope.

[2015-09-15 16:08] ghaiklor opened #93 "Decompose generator to more smaller generators"
Make generators for each of `api`, `config`, etc...

[2015-09-15 16:09] #69 closed

[2015-09-15 16:09] #34 closed

[2015-09-16 19:40] eswann commented on #43
Nice, will do!

[2015-09-17 06:38] ghaiklor commented on #43
@eswann I was hoping that you try it out 4 days ago :) Right now I'm fully re-writing generator with ES6 support and re-composability. So you will be able to generate project structure from different generators. For instance, `yo sails-rest-api:services` will generate only services part of the project.

[2015-09-17 06:48] #93 closed

[2015-09-17 06:49] ghaiklor commented on #90
Waiting for Waterline 0.11 with deep cursor and maybe then we can do this.

[2015-09-17 06:49] #90 closed

[2015-09-17 06:50] ghaiklor opened #94 "Issue with copying es6 files"
When we are running `npm run compile` it copies also `*.es6` files. Need to fix this.

[2015-09-17 13:51] eric-swann-q2 commented on #43
Sweet!  Sounds awesome.

[2015-09-19 21:12] ghaiklor opened #95 "Implement options as an answers in sub-generators"

[2015-09-19 21:12] #94 closed

[2015-09-20 15:21] Clan-Utility opened #96 "Sails port"
I put ```port:1337``` in both config/local.js and config/http.js. But when sails lift, it still uses port 3000. Where should I change the port?
Btw, where is sails.log disabled? I mean, sails.log.error, sails.log.info ... is OK, but sails.log(.....) logs nothing. I set level: 'info' in config/log.js

[2015-09-20 15:25] Clan-Utility opened #97 "config/models.js"
Even if I set connection: 'mongo' in config/models.js, sails still uses disk.db. Why is that?

[2015-09-20 18:27] ghaiklor commented on #96
@Clan-Utility check `config/env` folder. There is specific configuration for environment.

[2015-09-20 18:27] ghaiklor commented on #97
@Clan-Utility the same. Check `config/env` folder.

[2015-09-21 01:42] Clan-Utility commented on #96
Does this mean port in config/local.js & config/http/js will always be overridden by config/env?

[2015-09-21 01:44] Clan-Utility commented on #97
Yes, that's it!  When open the project folder in Sublime Text 3 (build 3083), config/env folder is not shown!

[2015-09-21 05:50] ghaiklor commented on #97
@IncoCode can you check this issue ? I'm wondering why @Clan-Utility doesn't get `env` folder.

@Clan-Utility what version are you using ?

[2015-09-21 05:51] ghaiklor commented on #96
@Clan-Utility yes. Environment-specific configuration has priority.

[2015-09-21 06:50] Clan-Utility commented on #97
v0.10.4, for Sublime Text 3 (build 3083).

It is a problem of ST, which does not list folder named 'env' in its side bar, even for other path.

[2015-09-21 06:52] ghaiklor commented on #97
@Clan-Utility so there is no problems then ?
Strange that Sublime is not showing `env` folder.

[2015-09-21 13:11] #97 closed

[2015-09-22 09:54] Clan-Utility commented on #96
Sorry that I have further question.
Regarding sails.log, I know you have set in config/log.js

    module.exports.log.custom = new winston.Logger({

to change the behavior of the default sails.log() function.

But the problem is that, even if I set ```log: { level: 'silly' }``` in config/env/development.js, all the errors generated by sails or throw new Error are suppressed (not shown in console &

[2015-09-22 12:00] ghaiklor commented on #96
@Clan-Utility it looks like a real bug. I'll take a look closer.

[2015-09-25 23:08] radiart opened #98 "TypeError: Cannot read property 'package' of undefined"
Windows 7, npm 3.3.4, node 4.1.1

yo sails-rest-api

C:\Users\Rafa┼é\AppData\Roaming\npm\node_modules\generator-sails-rest-api\generators\app\steps\install.js:31
          var missingDependencies = checkDependencies.missing(data.package, data.used).concat(missingAdapters);                                                                ^
TypeError: Cannot read property 'package' of undefined
    at

[2015-09-26 06:35] ghaiklor commented on #98
@radiart seems that you have some error in `dependency-check` module. I saw similar error on Windows platform before. Can you check it on another OS? Also I'm wondering if your username Rafa┼é is a root of problems.

[2015-09-27 06:51] ghaiklor commented on #70
We can check if password is bcrypt hash just with regex. It'll simplify the solution above.

[2015-09-29 12:14] Clan-Utility commented on #96
Alright, figured out why the original sails.js logs errors by default.
Put in api/responses/serverError.js

    // Log error to console
    if (data !== undefined) {
        sails.log.error('Sending 500 ("Server Error") response: \n',data);
    }
    else sails.log.error('Sending empty 500 ("Server Error") response');

[2015-09-29 12:15] Clan-Utility commented on #96
Plus, it may be a good idea to put this in serverError.js as well

    if (sails.config.environment === 'production') {
        delete response.error;
    }

[2015-09-30 05:39] synergycns commented on #70
I already provided example code above to do exactly that so the extraneous DB lookup isn't needed :) I've used it in a few different components since posting it and it works great for me, at least for my applications, since my input passwords are always less than 72 characters. What I posted works for Bcrypt 2a, 2b, and 2y hashes (not regular old Bcrypt 2 since that produces a 59 character hash st

[2015-09-30 14:35] combsco opened #99 "Fresh install getting errors"
Fresh install of Node, NPM
Fresh install of Yo, Sails, Sails-Rest-Api

Following Install/First run instructions... on main Github page.

[code]

[2015-09-30 14:45] ghaiklor commented on #99
@combsco thanks for report. It's a known issue and I'm trying to fix that now.

The problem is in parsing dependencies and installing them. If someone's module is published with breaking changes, generator installs this one but not the working version.

Hotfix for this is generator `package.json` with predefined package versions and it will be available soon.

[2015-09-30 15:22] ghaiklor commented on #99
@combsco just released new version. Try it out and give me your feedback, please.

[2015-09-30 15:31] combsco commented on #99
Awesome... I see the update!

[code]

Updated the package, removed and re-ran installation commands.
Sails lifts now!

[code]

Thanks for the fix @ghaiklor

[2015-09-30 15:37] ghaiklor commented on #99
@combsco glad it helps you :+1:

[2015-09-30 15:37] #99 closed

[2015-09-30 15:59] nahtnam opened #100 "Separate Out Generators"
Hey!

It would be great if generators were separated out. For example, I want to use this app, but keep the default blueprints because I am using https://github.com/huafu/ember-data-sails to consume it.

Same applies for things like authentication, and services.

What would be even better is if we could use these generators on top of an existing app. So we can do things like `yo sails authenticati

[2015-09-30 16:22] ghaiklor commented on #100
@nahtnam already in progress, you can check out `dev` branch :smiley:
I've split all the parts of the `api` folder to separate generators, so you able to call only what you need.

Here is the list of all generators - https://github.com/ghaiklor/generator-sails-rest-api/tree/dev/src

[2015-10-05 10:04] ghaiklor commented on #70
I've implemented @synergycns variant.

[2015-10-05 10:04] #70 closed

[2015-10-05 16:13] #100 closed

[2015-10-05 16:13] ghaiklor commented on #43
@eric-swann-q2 @eswann you can check the alpha version of generator-sails-rest-api. All issues is fixed with Windows.

[2015-10-05 16:14] ghaiklor commented on #91
Fixed

[2015-10-05 16:14] #91 closed

[2015-10-05 16:14] #95 closed

[2015-10-05 16:14] ghaiklor commented on #98
Fixed in the alpha-version and soon will be as a stable release.

[2015-10-05 16:14] #98 closed

[2015-10-05 17:36] michaeb opened #103 "Generator attempts to update to unstable version"
Can be seen here:

[code]

[2015-10-06 11:34] ghaiklor commented on #103
@michaeb fixed, now 0.10.7 is the latest stable version that don't try to update to pre-release versions.

[2015-10-06 11:34] #103 closed

[2015-10-11 21:27] ghaiklor opened #104 "Hooks need to be disabled only in .sailsrc"

[2015-10-12 14:29] #104 closed

[2015-10-13 06:43] hjain-spcg opened #105 "Is Model.Count(where) best implementation"
https://github.com/ghaiklor/generator-sails-rest-api/blob/dev/src/blueprints/templates/api/blueprints/find.js

 let countQuery = Model.count(where);

The problem I was facing was that back end table has 67K+ records.  So I decide to use limit as parameter to lets say 1000 or user defined value, such that user should expect longer times for more records.  For my purpose was ok.   Tracing through th

[2015-10-13 08:31] ghaiklor commented on #105
@hjain-spcg we had trying to accomplish this with custom blueprint but Sails doesn't allow to do this.

My vision was to add `count` blueprint that binds to `:model/count` route, but it can't be achieved.

If you have any suggestions how to implement this, I will be glad :smiley_cat:

[2015-10-15 15:24] ghaiklor commented on #92
Makes sense to implement requiring bodyParser on your own in future releases.

[2015-10-15 15:25] ghaiklor commented on #43
Fixed in the latest version. I've just removed this module and dependencies is installing in other way now.

[2015-10-15 15:25] #43 closed

[2015-10-15 15:27] ghaiklor opened #106 "Implement interactive mode when running sub-generators"
I've an idea how we can handle interactive mode in sub-generators. Each sub-generator should handle `--interactive` and `--no-interactive` options so that you can run `yo sails-rest-api:model` in interactive mode, for instance.

[2015-10-16 09:16] ghaiklor opened #107 "Consistent Sub-Generators API"
Here is an examples of calling sub-generators. Each sub-generator MUST contain following options\arguments:

[code]

[2015-10-16 13:09] ghaiklor commented on #107
Another option is to run all the generators in interactive mode, but fill questions' defaults from arguments\options.

@IncoCode still need to research about this. And if we run all generators in interactive mode then how can we handle `composeWith` ?

[2015-10-16 15:01] ghaiklor opened #108 "Implement JSON API spec"
We can override blueprints for JSON API support.

[2015-10-17 11:36] IncoCode commented on #105
[code]

[2015-10-18 19:53] ghaiklor commented on #105
@IncoCode good work. I'd done review of your code and will merge it when it will be done.

[2015-10-19 15:05] ghaiklor opened #112 "Model scaffolding with rest option overrides existing controller"
When you are creating model with `--rest` option it overwrites existing controller for this model.

I think need to add in `conflicts` step check if controller is exists. If yes, then just don't copy the controller.

[2015-10-21 08:25] ghaiklor commented on #107
Implemented the case above for all generators and checked - API is consistent :+1:

[2015-10-21 08:25] #107 closed

[2015-10-21 08:25] ghaiklor commented on #105
We have an implemented hook for count blueprint, thanks to @IncoCode

[2015-10-21 08:25] #105 closed

[2015-10-22 08:06] ghaiklor commented on #106
Do we really need this ?
/cc @IncoCode

[2015-10-22 15:16] ghaiklor opened #117 "Default secret key question in services"
Question where you're asking about secret key should be filled with default value from `authentication:secret-key`.

[2015-10-22 17:32] ghaiklor opened #118 "Issue with express is not found"
This problem is reproducing from swagger hook

[2015-10-22 17:37] ghaiklor opened #119 "Bootstrap function error in swagger"

[2015-10-23 08:44] #118 closed

[2015-10-23 08:44] #119 closed

[2015-10-23 15:28] #112 closed

[2015-10-24 18:05] ghaiklor opened #122 "Environment configuration is not loading"
When you start the project in development mode it still starts the project with connection from `config/models.js` but not from `config/env/development.js`.

[2015-10-24 18:05] #96 closed

[2015-10-25 13:12] #122 closed

[2015-10-26 10:57] BraunreutherA opened #126 "babel hook"
hey there,

why not using the sails babel hook? https://github.com/artificialio/sails-hook-babel

[2015-10-26 10:58] BraunreutherA opened #127 "Add code coverage for es6"
hey there,

you should add code coverage for es6 - isparta is very easy to use on top of istanbul.

[2015-10-26 11:46] ghaiklor commented on #126
@BraunreutherA `sails-hook-babel` is start to initialize only after some code execution. So not the whole project can be written in ES6 syntax. Running it with `babel-node` I can guarantee that all you project can be written with ES6 syntax.

For instance, when you are using `sails-hook-babel` you are not able to write configuration files in ES6 syntax and getting an error.

[2015-10-26 11:47] BraunreutherA commented on #126
Ah okay, thank you for the explanation :+1:

[2015-10-26 11:47] #126 closed

[2015-10-26 11:52] ghaiklor commented on #127
@BraunreutherA I'll try. Wondering how it works with isparta.

[2015-10-26 18:34] ghaiklor commented on #127
@BraunreutherA I couldn't run tests with `bootstrap.js` file :smiley_cat: I have debugged that `before` and `after` is just not calling.

[2015-10-26 18:36] BraunreutherA commented on #127
Jeah, but I don't think its a problem with isparta. I tried it even with plain mocha and they aren't executed.

[2015-10-26 18:36] ghaiklor commented on #127
@BraunreutherA Just pushed new changes to `dev`, check it out.

[2015-10-26 18:36] ghaiklor commented on #127
@BraunreutherA yeah, I know. The same, try to running just mocha and nothing.

[2015-10-26 18:37] BraunreutherA commented on #127
I think the problem is because you are using bootstrap.js in the mocha require command which doesn't support before and after

[2015-10-26 18:40] ghaiklor commented on #127
@BraunreutherA I pushed new changes to dev branch. I've moved from `--require` to just calling it as test. The same behaviour.

[2015-10-26 18:40] BraunreutherA commented on #127
You could place bootstrap.js in unit and run recursively the unit test. That way it gets executed first. But another problem occurs: In the services the sails global object ist used for config - so whenever you import a service you'll get an error, because it tries to acces the sails object. So we would need the sails lift executed before the tests are executed.

[2015-10-26 18:48] BraunreutherA commented on #127
that's why it errors before

[2015-10-26 19:08] ghaiklor commented on #127
@BraunreutherA now it's running but... Try to remove all test files and left only bootstrap. In before hook make console.log and run test. You will see that tests is successful, but you will not see your log. It's fucking strange :(

[2015-10-26 19:09] ghaiklor commented on #127
Maybe Babel is modifying runtime somehow ?

[2015-10-26 19:12] BraunreutherA commented on #127
I know, did this the whole day. It's a simple thing:

/Users/braunreu/Desktop/instantley/api_v1/api/services/CipherService.js:13
var jwt = (0, _sailsServiceCipher2['default'])('jwt', sails.config.services.cipher.jwt);

That's the error we get - have a look into your CipherService file It uses:
sails.config.services.cipher.jwt

So it needs the sails global object which would get created when before

[2015-10-26 19:13] BraunreutherA commented on #127
There are some ways - 1. stub out the sails config 2. create somehow the sails object and make it available before the other test files get executed

[2015-10-26 19:19] ghaiklor commented on #127
There is one thing that I'm also tried to achieve. In before hook wrote global.sails = server. Didn't help though.

[2015-10-26 19:19] ghaiklor commented on #127
I think that issue in Babel and mocha. Because with ES5 it worked.

[2015-10-26 19:20] BraunreutherA commented on #127
I'm working on a solution where I wrap mocha in a script. Let's see :)

[2015-10-26 19:49] BraunreutherA commented on #127
https://gist.github.com/BraunreutherA/f086bca58a5a3b9d5ed1

this works but needs some more love

[2015-10-26 20:28] IncoCode commented on #127
@BraunreutherA can you please create a pr?

[2015-10-26 20:30] BraunreutherA commented on #127
I'd like to but that's not a good way yet cause it doesn't work with coverage very well.  I'll start a PR when I found a good way

[2015-10-27 06:27] akshath4u opened #128 "How to create a new controller using command?"
Hi,

Could you please suggest me to create  a new controller using command in this scaffold (like 'sails generate sleep' in sail)

[2015-10-27 09:02] ghaiklor commented on #128
@akshath4u as I suppose, you're using next version from npm? In this case just call `yo sails-rest-api:controller Sleep`

[2015-10-27 10:50] akshath4u commented on #128
@ghaiklor Thank you :+1:

[2015-10-27 11:42] akshath4u commented on #128
Hi,

While i'm trying to create a controller using the command `yo sails-rest-api:controller Devices create find` this will ask for database and all the steps which come across creating project structure using `yo sails-rest-api`.
![selection_009](https://cloud.githubusercontent.com/assets/9428527/10757014/dde4fbc4-7ccd-11e5-958b-4038cdbc7678.png)

[2015-10-27 11:45] ghaiklor commented on #128
@akshath4u Yours version is 0.10.7 which is the latest. There is no functionality like you asked. Only in `@next` version from npm.

[2015-10-27 12:29] #127 closed

[2015-10-27 17:48] BraunreutherA opened #130 "Express and bluebird missing for swagger"
Hi there,

when running my tests it complains that express and bluebird is missing. It is required by the swagger hook. I don't know which generator part should install this dependencies so I can't do a PR

[2015-10-27 17:53] ghaiklor commented on #130
@BraunreutherA all parts of the Sails project is split to separate folders. For instance, you have issue with `swagger`, you just need get a look into `src/swagger` folder.

BTW, I've removed a lot of tests because they written awful and need to re-write them.

[2015-10-28 09:46] ghaiklor commented on #130
@BraunreutherA I'd trying to reproduce this issue when running tests - nothing. Could you try the latest version, may be that it already fixed.

[2015-10-28 09:46] #130 closed

[2015-10-28 10:27] #128 closed

[2015-10-28 13:47] weyert opened #132 "How do I use the generator with Babel in production?"
Could you give me some hints how I can use Babel with your awesome seed project? Based on resources on the internet use babel-node is not a good idea for production. Any tips?

I have to admit I don't have much experience with Babel yet. Especially, in combination with Sails.js. Thanks.

[2015-10-28 14:09] rkcreation opened #133 "JWT CipherService config"
Hi,

After generating a new project, I can sign up and sign in, but I'm not able to access other routes, due to an `invalid signature` jsonwebtoken error.
After investigating, for a working JWT authentication, I have simply changed the key `secretOrKey` to `secretKey` in `config/services/cipher.js`. Without this, CipherService generates the JWT with `DEFAULT_SECRET_KEY`, but passport-jwt checks ar

[2015-10-28 17:43] weyert commented on #133
This also happens when you create a new one through yeoman

[2015-10-28 17:44] weyert opened #134 "Configuration issue when using MailService"
If you using Sendgrid together with the MailService when generating a new project. You are getting an error that the configuration options are missing.

[2015-10-28 18:10] ghaiklor commented on #132
@weyert `babel-node` is not good idea for npm modules. But if you are developing your own web-server that doesn't affect other users, you can use `babel-node`.

Anyway, you can make mirroring as I have done in generator's sources. Create src folder where you locate ES6 sources files and configure Babel to compile it into `api` folder. Then run Sails as usual.

[2015-10-28 18:13] ghaiklor commented on #133
When you are creating project through yeoman generator it works in the following way:

1) If you have answered Yes on "Authentication layer" question then it generates secret key and configure `CipherService` with its key.

2) If not, then there is not authentication layer at all and should works.

Can you, guys, gave me more information how can I reproduce it?

[2015-10-28 18:16] ghaiklor commented on #134
@weyert that's because you should configure it with your API keys. What've you expected?

[2015-10-28 18:30] weyert commented on #134
Ah, I would have thought maybe some dummy configuration?

[2015-10-28 18:31] weyert commented on #132
Thanks, I will give this a shot.

[2015-10-28 20:14] weyert commented on #133
I will try. I have emailed you regarding an issue with FacebookStrategy and the error Cannot read property 'onPassportAuth' of undefined

[2015-10-28 21:10] weyert opened #135 "How to use the Facebook authentication?"
I was wondering how you had the Facebook authentication in mind. If I understood the source code correctly after obtaining the access token (e.g. via the FB iOS SDK). The Facebook strategy can be called like so: http://localhost:3000/v1/auths/social/?type=facebook&access_token=[token].

Only when I try to do a request like this with or without the `access_token`-parameter I am getting the followin

[2015-10-28 22:58] IncoCode commented on #135
`onPassportAuth` function is exported to `sails.config`: https://github.com/ghaiklor/generator-sails-rest-api/blob/v1.0.4/src/authentication/templates/config/passport.js#L148
In `AuthController` we expect that this function is in `sails.config.passport`: https://github.com/ghaiklor/generator-sails-rest-api/blob/v1.0.4/src/authentication/templates/api/controllers/AuthController.js#L50

[2015-10-29 09:20] weyert commented on #135
Yes, that's why I don't fully understand why this error occurs as the function definition exists.

[2015-10-29 11:54] #132 closed

[2015-10-29 11:56] ghaiklor commented on #134
@weyert You can read more docs on appropriate repository. In your case you are using MailerService. So you should take a look here for [configuring section](https://github.com/ghaiklor/sails-service-mailer#configuration)

My generator just include these services, but can't configure them because too many edge-cases.

[2015-10-29 12:13] ghaiklor commented on #133
@weyert @rkcreation I can't reproduce your issue.

[2015-10-29 12:15] #135 closed

[2015-10-29 12:43] weyert commented on #134
Ah sorry Eugene, I somehow imagined it to be a ready made thing. As you
generate it and you have a working version. My apologies, for being stupid!
One of those days, I guess :)

On Thu, Oct 29, 2015 at 11:56 AM, Eugene Obrezkov <notifications@github.com>
wrote:

[2015-10-29 12:43] weyert commented on #135
Yes, working now. Awesome.

[2015-10-29 12:46] ghaiklor commented on #134
@weyert I should document this, I suppose :)

[2015-10-29 12:46] #134 closed

[2015-10-29 13:12] weyert opened #136 "Add password check for in base implementation User-model"
Currently, when you use the social signup approach a User-model gets created which then fails because the beforeCreate-hook of the User-model is trying to encrypt the password which is non available.

I would consider adding the following as the only function of the beforeCreate and beforeUpdate is to bcrypt the password:

    if (false === values.hasOwnProperty('password')) return next()

This av

[2015-10-29 13:54] rkcreation commented on #133
I have set Authentication layer with the generator (Yes).
Generator version : 1.0.2
Windows Node version : 4.2.1

My `config/services/cipher.js` after generating :
[code]
And, for a working JWT auth, I have changed `secretOrKey` to `secretKey`

I encounter also the issue mentioned by @weyert : `Cannot read property onPassportAuth of undefined`, resolved by adding object export in `config/passport.

[2015-10-29 14:01] ghaiklor commented on #133
@rkcreation this is related to #135 and already fixed in the latest version. You can update generator and run `yo sails-rest-api:authentication` again.

[2015-10-29 14:49] ghaiklor commented on #136
@weyert I've merged your PR but I can't publish it because your commits is not following the spec. So semantic-release can't generate changelog and make publish. It will be published later.

[2015-10-29 14:49] #136 closed

[2015-10-29 14:57] ghaiklor commented on #136
@weyert published it manually. If you will make another PRs, use commitizen for commits, please. I'm using `semantic-release` that publishes and generates changelog automatically. And if commits messages is not valid then semantic-release can't parse it and make publish.

[2015-10-29 15:35] weyert commented on #136
Never heard of commitizen. What's that?

On Thu, Oct 29, 2015 at 2:57 PM, Eugene Obrezkov <notifications@github.com>
wrote:

[2015-10-29 16:42] ghaiklor commented on #136
@weyert it's a tool that you can use as `git cz` command in your terminal - http://commitizen.github.io/cz-cli/

[2015-10-29 17:53] rkcreation commented on #133
@ghaiklor #135 and the last version fix the onPassportAuth definition, but not the issue that I'm talking.
I generate a fresh install with v1.0.6, and `config/services/cipher.js` set the key `secretOrKey` and the node module sails-service-cipher checks (in `lib/JwtCipher.js` lines 34 and 71) for a config key `secretKey`

In my last install, generated secret key is : `4fab47b9e6b8b91a74c74547d9f362

[2015-10-29 19:45] IncoCode commented on #133
@rkcreation fixed in my pr, thanks for reporting this problem.

[2015-10-30 09:06] #133 closed

[2015-11-02 08:36] bossyang opened #148 "How to set api_key for Swagger UI Explorer?"
Or is there default api_key for demonstration purpose?

[2015-11-02 09:09] ghaiklor commented on #148
@bossyang you can disable policy for `DocsController`, if you want to show Explorer without api key. There is still a question how to add support for Bearer tokens in Explorer.

[2015-11-03 02:55] bossyang commented on #148
@ghaiklor  Thanks. Is this normal?
[code]
And the operations are not quite right.
![sails-swagger-list-operations](https://cloud.githubusercontent.com/assets/2443508/10900330/5e4fb498-8219-11e5-8ee0-eb092d23f9b3.png)

[2015-11-03 09:04] ghaiklor commented on #148
@bossyang we are using this hook https://github.com/tjwebb/sails-swagger for collecting data.

I know about these issues but can do nothing with it :(

[2015-11-07 02:03] bossyang opened #152 "How to start sails console?"
I know it's because of babel but what is the correct way?
[code]

[2015-11-07 06:40] ghaiklor commented on #152
@bossyang try to add `console` script in `package.json`

[code]

Then run `npm run console`.

[2015-11-09 02:19] bossyang commented on #152
@ghaiklor Thanks. It works!

[2015-11-09 13:12] #152 closed

[2015-11-10 09:02] jkinman opened #154 "What do I need to do to get this to run on OpenShift?"
Open shift seems to be running node app.js instead of babel-node app.js and choking on the ES6. I can't figure out how to make it fun babel-node to start up.

[2015-11-10 09:18] ghaiklor commented on #154
@jkinman can you replace `node app.js` with `npm start` in OpenShift configuration?

[2015-11-10 13:14] bossyang opened #155 "count action return empty array"
GET http://localhost:3000/v1/users/count
[code]

[2015-11-10 18:17] jkinman commented on #154
I don't yet know how to do that. I've put the question on stack overflow.
http://stackoverflow.com/questions/33636804/how-do-i-modify-the-node-startup-command-in-open-shift

[2015-11-10 18:18] jkinman commented on #154
I'll make a pull request with openshift configuration changes so this can run with no there with no extra work when I have a solution.

[2015-11-16 03:56] bossyang commented on #154
I have a similar situation when deploy with __strong-pm__. Sam Roberts suggested I should statically transpiles the es6 js into js that is runnable using whatever version of node. So maybe we need a __prepublish__ script here.

https://github.com/strongloop/strong-pm/issues/292#issuecomment-155427773

Now I use the require hook temporarily, but I have to install babel-core manually. Unless I move

[2015-11-16 09:48] ghaiklor commented on #154
@bossyang @jkinman we can't do transpling because we need to store sources and traspiled code separate then. Solution can be add babel-core/register into `app.js` and replace with `node app.js` in `start` scripts. What you think ?

[2015-11-19 01:01] bossyang commented on #154
My package.json & server.js.

[code]
[code]

[2015-11-19 08:47] #154 closed

[2015-11-20 01:40] bossyang opened #163 "JWT query parameter access_token doesn't work"
Currently, I can only add the credential through the HTTP Authorization header.

http://localhost:3000/v1/stores?access_token=eyJ0eXAiOiJK

[code]
Change to default parameter name __auth_token__.
http://localhost:3000/v1/stores?auth_token=eyJ0eXAiOiJKV1QiLCJhb
[code]

[2015-11-20 05:57] ghaiklor commented on #163
@bossyang Try to add `access_token` to blacklist in `find` blueprint. When you are passing `access_token` like this, Sails is thinking that this is field of your model and trying to find with that criteria.
Open `blueprints/find.js` and add `access_token` to array of blacklist.

[2015-11-20 22:24] toddgeist opened #166 "Build to es5"
If I understand this correctly, projects created with this generator are transpiled on the fly to es5.  This seems fine for development work.  But is this a good idea in production?  Is there a build task that transpile the whole app?

Thanks

Todd

[2015-11-21 06:18] ghaiklor commented on #166
@toddgeist no, because we need to store sources and transpiled core separately then. If you know the good way to store sources and transpiled code without breaking Sails concepts then let me know :smiley_cat:

[2015-11-21 06:57] #155 closed

[2015-11-21 15:33] toddgeist commented on #166
I was hoping you had figured it out :-)

[2015-11-21 15:33] #166 closed

[2015-11-23 17:30] ghaiklor opened #167 "Migration to Babel 6"
I know, it's hard to hear, but I'm a geek, so... migration to babel 6 :smiley_cat:

[2015-11-24 07:11] bossyang commented on #163
@ghaiklor Thanks.

[2015-11-24 07:11] #163 closed

[2015-11-30 21:08] evereq commented on #148
@bossyang seems I found a way to get rid of this message about missing package info (Swagger wants to read your project name and description from it).

In the config folder of your sails app, create file swagger.js with something like:

[code]

@ghaiklor can also create such config file in the yo generator some day....

[2015-12-01 08:20] ghaiklor commented on #148
@IncoCode could you add config for our explorer ?

[2015-12-01 21:39] tjwebb opened #171 "npm install fails on node 4.2.2"
I clone, and run `npm install`. I get this error:

[code]

node 4, npm 2.14

[2015-12-01 21:50] tjwebb commented on #171
I just checked out 1.1.0 and install works fine on that tag.

[2015-12-01 21:59] ghaiklor commented on #171
@tjwebb seems you'd checkout dev branch which is in progress of migration to Babel 6. Master branch is stable if you want to test out features.

[2015-12-02 03:49] bossyang commented on #148
@evereq Thanks. It works!
And where to set the default url?
![swagger-ui-default-url-issue](https://cloud.githubusercontent.com/assets/2443508/11521774/b3a3629a-98ea-11e5-8136-94366063ad54.png)

[2015-12-02 07:01] evereq commented on #148
@bossyang it's in the ```explorer/index.html``` file

[2015-12-02 08:10] bossyang commented on #148
@evereq Thanks. I changed the default to the current url.

[code]

[2015-12-02 13:44] ghaiklor commented on #148
@bossyang @evereq so what's the question? Do we need to add `swagger` config?

[2015-12-02 23:18] mrcarl79 opened #173 "Error after npm start - TypeError: Path must be a string. Received undefined"
Hi,

I'm getting an error starting this, does this log mean anything to you?? I believe I've done all that was needed..

Thanks, Carl

Carls-iMac:demo-sails-rest-api carl$ npm start

path.js:8
    throw new TypeError('Path must be a string. Received ' +
    ^

TypeError: Path must be a string. Received undefined
    at assertPath (path.js:8:11)
    at Object.posix.resolve (path.js:426:5)
    at Fu

[2015-12-03 05:37] bossyang commented on #148
@ghaiklor Yes, please.

[2015-12-03 08:24] #171 closed

[2015-12-03 08:35] ghaiklor commented on #173
@mrcarl79 Did generator itself create the project successfully? Maybe some warnings, errors...
Also provide your environment information (node version, npm, yeoman and generator)

[2015-12-04 10:47] #148 closed

[2015-12-16 23:50] davidxiao opened #185 "npm start failed:"
[vagrant@localhost test02]$ npm start

module.js:338
    throw err;
    ^
Error: Cannot find module 'express'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:286:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/vagrant/sailjs/test02/api/hooks/swagger/index.js:6:30)
    at Module._compile (m

[2015-12-17 00:10] davidxiao commented on #185
Fixed by installing express, which seems required in hook for swagger?
need to add express module in project root's package.json

[2015-12-17 00:10] #185 closed

[2015-12-26 15:01] Clan-Utility opened #188 "yo raises exception"
MacOS 10.10.4
Node v.0.12.7
yo v1.4.8
generator-sails-rest-api v.1.1.0

After answering project name, it raises exceptions

Application questions:
? Application name aProject
/usr/local/lib/node_modules/yo/node_modules/yeoman-environment/node_modules/rx-lite/rx.lite.js:75
    throw e;
          ^
TypeError: undefined is not a function
    at /usr/local/lib/node_modules/generator-sails-rest-api/gen

[2015-12-27 08:37] #92 closed

[2015-12-27 08:37] #106 closed

[2015-12-27 10:18] ghaiklor commented on #188
@Clan-Utility I saw this error before. Try to update global dependencies via `sudo npm -g update` or `sudo npm -g install yo generator-sails-rest-api`.

[2015-12-28 10:30] Clan-Utility commented on #188
After updating to node v4.2.4, the problem is solved.

[2015-12-28 10:30] #188 closed

[2016-01-13 06:16] fullstackwebdev opened #192 "lodash 4.0.0 breaks things"
## kaboom!
[code]

Setting lodash v3 in packages.json fixes it.

[2016-01-13 07:09] NikkiDreams commented on #192
I'm getting that too. Lodash 4.0 is a significant updatehttps://github.com/lodash/lodash/wiki/Changelog#compatibility-warnings

Removed _.pluck in favor of _.map with iteratee shorthand
for example in API/Blueprints/find.js and findone.js change _.pluck to _.map
This fixes the problem.
_.pluck is used in a bunch of places so they will all have to get changed.

[2016-01-13 08:37] ghaiklor commented on #192
@fullstackwebdev @NikkiDreams strange, I didn't upgrade lodash version. Did you install it from npm@latest or from `dev` branch ?

[2016-01-13 08:43] NikkiDreams commented on #192
Yeah the latest gets installed by the  yo script. I spent all of 5 minutes making the few changes necessary to use lodash 4. It's super easy. I only had to touch 4 or 5 files. _pluck and _unique were it I think.

[2016-01-20 06:19] NikkiDreams opened #195 "onPassportAuth being called twice after AuthController.signin"
I've been trying to debug this all day. Even another dev I work with is perplexed. I am using the default code from the initial install via yo.
Steps:
POST to /api/auth/signin with correct credentials.
Passport local strategy is called.
onPassportAuth is triggered and I see the user object returned in the first pass.
But then it appears onPassportAuth is triggered a second time before a response i

[2016-01-20 07:49] ghaiklor commented on #195
@NikkiDreams can you provide action `signin` from controller and node\npm versions as well?
And... `responses/ok.js` file too.

[2016-01-20 07:59] NikkiDreams commented on #195
Yes. I will paste those in first thing in the morning.

[2016-01-20 14:03] #192 closed

[2016-01-20 14:09] ghaiklor commented on #192
@NikkiDreams @fullstackwebdev guys, I've published new version. This version also rewritten entirely without Babel plus some fixes. Feel free to create an issue if something wouldn't work.
BTW, generator works only from NodeJS 4.x and higher now.

[2016-01-20 14:10] #173 closed

[2016-01-20 14:11] #167 closed

[2016-01-20 20:07] NikkiDreams commented on #195
○ → node --version
v4.2.4
○ → npm --version
3.5.2

[code]

Responses OK
[code]

[2016-01-20 20:48] NikkiDreams commented on #195
Oh gosh. I think I just found the problem. I have looked high and low for the little 'req'!
Line 13 of responses/ok.js
[code]
Debugging has been a bit difficult due to lack of a more meaningful stack-traces from Sails internals.I'm testing with changes now and will update this ticket later.

BTW this project is the best thing that has happened to Sails in about 3 years!

[2016-01-20 23:59] NikkiDreams commented on #195
Update: I tested signin and it appears to be working now. I do not know where the problem line of code came from. I do recall if it is part of the initial installation or not. Generally I have not had need to mess with the response files.
Cheers

[2016-01-21 11:20] ghaiklor commented on #195
@NikkiDreams I just looked into `responses/ok.js` in generator templates:

[code]

It different that yours that is strange.

[2016-01-21 19:19] NikkiDreams commented on #195
I must have changed that file unknowingly or it was the result of merging the code in the older repo. If it's not in the default install then I guess we can call this one closed. User Error :-)
Thanks for checking

[2016-01-22 11:53] ghaiklor commented on #195
@NikkiDreams I'll check it after Global Game Jam. BTW, I'm planning to rewrite Sails project generated by generator without Babel and support only for NodeJS 4.x and higher. I already did it to generator sources and going to make this in Sails project.

[2016-01-22 11:53] #195 closed

[2016-01-24 07:57] myspivey opened #196 "shasum check fails on latest update"
npm ERR! node v5.5.0
npm ERR! npm  v3.5.3

npm ERR! shasum check failed for /tmp/npm-37464-cec2e633/registry.npmjs.org/generator-sails-rest-api/-/generator-sails-rest-api-1.2.0.tgz
npm ERR! Expected: 84a1fcf62adcb979de16e98ea4ee169cfed4fbf7
npm ERR! Actual:   283f59efa236338132669827a5f070c5a6e35592
npm ERR! From:     https://registry.npmjs.org/generator-sails-rest-api/-/generator-sails-rest-api-1

[2016-01-24 09:42] ghaiklor commented on #196
@myspivey node 4.2.6, npm 3.6.0, works fine. This issue is npm-related issue, try to upgrade npm.

[2016-01-24 15:17] Salakar commented on #196
3.5.3 is the latest npm. 3.5.4 and 3.6.0 are both pre-release. Doesn't work on 3.5.3 for me either.

[2016-01-24 15:30] ghaiklor commented on #196
@Salakar can be related to this issue - https://github.com/npm/npm/issues/2701

[2016-01-24 15:37] Salakar commented on #196
Hmm, i tried cache clean and resetting the registry, didn't work - I'll just extract it manually to the global node_modules folder.

[2016-01-24 23:26] ghaiklor commented on #196
@Salakar I'll try install generator again tomorrow morning. For now, I marked this as a bug in generator but I believe this is npm related issue.

[2016-01-25 07:00] Ivan-Feofanov commented on #196
using npm 3.3.6 - same trouble

[2016-01-25 17:17] ghaiklor commented on #196
@Ivan-Feofanov @Salakar @myspivey fixed in 1.3.1

[2016-01-25 17:17] #196 closed

[2016-01-27 19:56] CodeQueen5M opened #200 "TypeError: cipher is not a function"
I am getting this with the latest release. The install is 100% out of the box with no changes. I found this when I set up a new project as a baseline reference.

/www/5m/sails-yo-gen/api/services/CipherService.js:7
  jwt: cipher('jwt', config.services.cipher.jwt)
       ^

TypeError: cipher is not a function
    at Object.<anonymous> (/www/5m/sails-yo-gen/api/services/CipherService.js:7:8)
    at

[2016-01-28 09:18] riyastk opened #204 "this.res is undefined in response functions"
Every request to the server shows Type Error. this.res is undefined in every response function
[code]

[2016-01-28 09:25] ghaiklor commented on #204
@riyastk it's all because of migration to native ES6 support and removing Babel. I'll fix this in few minutes. Get in touch in this issue :+1:

[2016-01-28 09:35] riyastk commented on #204
@ghaiklor  thanks. Waiting for your update

[2016-01-28 10:01] ghaiklor commented on #200
@CodeQueen5M I already fixed that in appropriate services, try to call `npm update`.

[2016-01-28 12:01] ghaiklor commented on #204
@riyastk you can update generator and call `yo sails-rest-api:resonse --all` in your project folder. It will regenerate responses with fixes.

[2016-01-28 12:10] #200 closed

[2016-01-28 12:11] #204 closed

[2016-01-29 02:04] NikkiDreams commented on #108
We have a common goal here. I may be able to help.  I NEED a JSONAPI blueprint in a bad way. The entire Ember 2.X  community does in fact. I am working with another developer who may be writing the serializer for this to work in Sails. I just turned his company yon to your project. Cross your fingers. We may actually get this done. I will let you know. Have you already started on something or is t

[2016-01-29 09:05] ghaiklor commented on #108
@NikkiDreams thanks for help. We can integrate your JSON-spec compatible blueprints alongside with our current blueprints and allow to users choose which one they want to use. When you will be ready to create PR for this I'll be glad to do other stuff related to generator itself.

[2016-02-01 21:40] tosbaha opened #207 "Cant run"
I installed as it is stated in readme file. I didn't change anything and selected default options always by hitting enter. When I first start it failed because of missing express dependency. I installed missing dependency then it started. I also created the models yo sails-rest-api:model Ticket but I can't test the api. http://localhost:3000 only shows

[code]

[2016-02-02 02:51] NikkiDreams commented on #108
I am starting to put stuff together. My project is stuck until JSON API support in Sails is available.
Not sure if you have seen this https://github.com/IanVS/sails-hook-jsonapi
I'm evaluating what was done at the moment.

[2016-02-02 05:53] NikkiDreams commented on #108
Ok. I know this is not ideal but it is a start. I forked the original sails-hook-jsonapi. My fork is basically working. There are many things that need/should get fixed though. This is only basics so far.

- Smart handling of pluralization.
- Add Blueprints
- Add relationships support
- Add links support
- Add meta data support
- Error Handling

Model and Collection relationships are pre loaded as

[2016-02-02 09:13] ghaiklor commented on #108
@NikkiDreams do you think better to implement this in hooks ? I thought custom blueprints will be enough.

[2016-02-02 09:15] ghaiklor commented on #207
@tosbaha https://github.com/ghaiklor/generator-sails-rest-api/wiki/Sub-Generators#list-of-controllers

[2016-02-02 10:27] NikkiDreams commented on #108
Both have advantages. But it would prefer blueprints. In fact I think a combination may be useful. Since hooks was already 50% done ai just edited it to get a start. My next stab at this will be blueprints and pulling the processin out of the OK response file. The OK response file is not the right way to call the serializer as it does now. But it's a start.

[2016-02-02 12:03] ghaiklor commented on #108
@NikkiDreams it would be a great step forward when you implement JSON API :+1:
Yeah, responses are a little different but we can use `root` parameter to override default response without modifying them.

[2016-02-02 23:13] tosbaha commented on #207
`yo sails-rest-api:controller Ping`

http://localhost:3000/v1/ping

[code]
`yo sails-rest-api:controller Search`
http://localhost:3000/v1/search?q=text
[code]

I am trying to create a basic api for user(add/delete/update/changepasss) and todoitem(add/delete/update) I will really appreciate if you can help me on this.

[2016-02-02 23:34] ghaiklor commented on #207
@tosbaha Message in response says that you don't provide auth token. If you don't want authorization layer then don't generate it when scaffolding the project.

[2016-02-03 10:52] NikkiDreams commented on #108
I just started the Blueprints part of this endeavor. I'm getting way to old to be pulling these all nighters. But someone's gotta do it right? This will hopefully be very flexible and probably everything you could possibly need when I get the jsonapi-serializer hooked up to the blueprint service. I have quite a lot to do here but I expect to have basic things working by end of the week.
https://gi

[2016-02-05 11:23] #207 closed

[2016-02-16 16:21] BraunreutherA opened #211 "Why drop babel"
Hey there,

is there a reason why you dropped babel support?

Best regards,
Alex

[2016-02-16 18:55] ghaiklor commented on #211
@BraunreutherA hey, yes. I'd use babel-node CLI for running Sails applications which is decrease the overall perfomance of the web-server. Starting from NodeJS 4 you can write many of ES6 features with native support without Babel. So I dropped Babel, allowing to you, as a developer, write ES6 code which NodeJS 4 supports and for V8, as a VM which executes JavaScript, possibilities to optimize ES6

[2016-02-16 18:57] BraunreutherA commented on #211
Wouldn't be a compiled version suitable? so just for development using the cli with the babel-node command and before using the stack in production let babel compile it completely so u have no performance hits. But you're right node 4 brings a lot es6 into the game.

[2016-02-16 21:19] ghaiklor commented on #211
@BraunreutherA I don't think making these steps is great idea. NodeJS 0.10 and 0.12 remains on legacy projects only. Everyone install the latest NodeJS versions :)

[2016-02-18 19:30] prisonier opened #212 "cannot find module express"
Hi,

After a fresh install and trying to lunch the app through node start or sails lift I get this error :

[code]

I don't know if it is related to sails or to this generator.
Of course, I fixed it by running :
[code]

[2016-02-18 20:09] ghaiklor commented on #212
It's related to npm 2 and 3. I can do nothing with that. So, yes, solution is to install it manually.

[2016-02-18 20:38] prisonier opened #213 "`make` failed with exit code: 2 for kerberos during install (Linux)"
Hi, I get this error on linux during install (after configuration).

[code]

I had to install packet libkrb5-dev according to this [issue](https://github.com/christkv/kerberos/issues/21)

Maybe you should document that this package is necessary on linux systems ?
According to kerberos readme, there other packages necessary like build-essentials, gcc and g++.

[2016-02-18 20:39] prisonier commented on #212
Ok so this can be closed.

Maybe you should say it in readme ?

[2016-02-18 20:39] #212 closed

[2016-02-18 20:52] prisonier commented on #134
I just had the same issue.

Couldn't you create a basic configuration that doesn't throw an exception ?

I think it would be more straight forward for people to being able to lift their app just after using the genrator.

[2016-02-18 22:10] prisonier opened #214 "Error in wiki - sub generators - cors"
Hi,

Just a small issue in the doc :

CORS allows to you make requests from client-side JavaScript. By default, it's disabled, but you can enable it if you wish.

[code]

You've written cron instead of cors

[2016-02-18 22:19] prisonier opened #215 "Feature Request : having something like sails-hook-autoreload in dev"
As the title says I love this module -> [sails-hook-autoreload](https://github.com/sgress454/sails-hook-autoreload)

This hook is quite usefull for dev and I always use it. Unfortunately as it reloads many sails vanilla hooks it doesn't work with your scaffold.

If you know a better solution for avoiding lower/lift the app I would be happy to know it !

Thanks again for your awesome work.

[2016-02-19 08:30] ghaiklor commented on #215
@prisonier better to use nodemon package - https://www.npmjs.com/package/nodemon.

[2016-02-19 08:31] ghaiklor commented on #214
@prisonier fixed.

[2016-02-19 08:31] #214 closed

[2016-02-19 08:33] ghaiklor commented on #134
@prisonier it doesn't resolve the issue. Each provider has different configuration fields. Secondly, if I make default working configuration, you forgot to configure service and starts create issue that sending mail is not working :)

[2016-02-19 08:34] #211 closed

[2016-02-19 08:35] ghaiklor commented on #213
@prisonier may it be some specific case for your machine? You're the first one with that issue.

[2016-02-19 08:45] prisonier commented on #213
I think it is because I used a very fresh linux install and some packages wasn't installed.

It is not really related to your work because it is a dependency of sails-mongo.

Anyway, if someone has the problem, he will find the solution here :)

[2016-02-19 08:45] #213 closed

[2016-02-19 08:54] prisonier commented on #215
The big difference between thoses packages is that nodemon will restart the app while sails-autoreload will only reload some files without restarting the app.

In one case you have to wait 2 or 3 secondes between each changes, in the other case, every change is done immediatly.

I simply commented  the following line in the node module:

node_modules/sails-hook-autoreload/index.js - line 109
[code

[2016-02-19 08:54] #215 closed

[2016-02-19 09:30] ghaiklor commented on #215
I've used nodemon a lot of times and didn't see issues. About your case, I've disabled unneccessary hooks so that your hook-autoreload try to initialize disabled hook.

[2016-02-19 09:36] prisonier commented on #215
Yes it what I understood.

I opened an issue on sails-hook-autoreload to ask them to make the i18n hook reload optional to avoid conflicts whith you awesome module.

[2016-02-19 23:20] prisonier opened #216 "find blueprint : total count of records"
Hello,

When I do a find request with the blueprint like :
[code]
I don't have the count of records in the response while it is said in the doc :

The response :
[code]

[2016-02-20 05:32] ghaiklor commented on #216
@prisonier try to make request to `v1/users/count`. I don't remember, maybe we moved this to separate route for fixiing perfomance issues.

[2016-02-20 09:45] prisonier commented on #216
Yes I forget to say that this url works. I just wanted to point it to be sure that it wasn't a bug but just a doc issue.

[2016-02-20 10:14] ghaiklor commented on #216
@prisonier thanks for the report, fixed.

[2016-02-20 10:14] #216 closed

[2016-02-22 22:38] steveacalabro opened #217 "Facebook Login return Error"
I'm getting the following error when trying to get the Facebook Authentication to work.

`Unhandled rejection TypeError: Converting circular structure to JSON`

I have narrowed the issue down to the passport.js config file

`const _onSocialStrategyAuth = (req, accessToken, refreshToken, profile, next) => {
  if (!req.user) {
    let criteria = {};
    criteria['socialProfiles.' + profile.provider

[2016-02-23 08:29] riyastk opened #218 "how to use socket.io in blueprints"
I need to access the events from blueprints action like create, update and delete from client. How could i use this

[2016-02-23 16:59] ghaiklor commented on #218
@riyastk this generator scaffold the project with disabled sockets. You need to do it all manually.

[2016-02-23 16:59] ghaiklor commented on #217
@steveacalabro can you debug more 'cause I can't reproduce it.

[2016-02-24 04:24] steveacalabro commented on #217
I've pretty much been able to narrow it down to something with the `User.findOrCreate()` line and below

Here's the strategy im using
[code]

This is at the bottom
`passport.use(new FacebookTokenStrategy(_.assign({}, FACEBOOK_STRATEGY_CONFIG), _onSocialStrategyAuth));`

More extensive error

[code]

[2016-02-24 04:36] riyastk commented on #218
how can i add socket for every add, update and delete operation, so than client get notified

[2016-02-24 07:29] ghaiklor commented on #217
@steveacalabro why did you set `callbackURL` ? There is no such things.

[2016-02-24 07:31] ghaiklor commented on #218
@riyastk you better to start with default Sails scaffolder then. The main goal of this generator is to disable all unneeded stuff and override default things.

You can try enable `sockets` hook in `sailsrc` file and remove `blueprints` folder.

[2016-02-24 07:49] steveacalabro commented on #217
@ghaiklor I set it because I was getting the error so I tried to look into what was missing from the passport docs and it was that

[2016-02-24 07:56] ghaiklor commented on #217
@steveacalabro https://github.com/drudge/passport-facebook-token

[2016-02-24 20:08] steveacalabro commented on #217
@ghaiklor When I review that it looks different than what the generator creates. Should I be doing the User.findOrCreate() that way?

[2016-02-24 20:25] ghaiklor commented on #217
@steveacalabro you can try, I'm wondering what happens because you're the first one with that issue.

[2016-02-24 21:23] steveacalabro commented on #217
@ghaiklor I think I was able to narrow it down farther. I'm using mySql, when I tried to convert the User.findOrCreate() function to the passport way I was still recieveing an error. When I starting picking it apart I was left with code that looked like the following.

[code]

Both "Gets to here" and "Error" are displayed to the console and then I get this error returned back to me. Which has me r

[2016-02-24 21:31] steveacalabro commented on #217
@ghaiklor After some debugging I have found a few errors that deal with mysql. Could it be because of that?

[2016-02-25 07:24] ghaiklor commented on #217
@steveacalabro change adapter to sails-mongo and check if it works. If so then issue with sails-mysql adapter.

[2016-02-25 07:25] #218 closed

[2016-02-25 18:35] prisonier opened #219 "Is there any debug mode for serverErrors ?"
Hello,

I often get the message in the body response :

[code]

If I manually log the error in the response file I can have the error but I'm surprised that I don't have it in the response in the data field.

I'm not sure if I understand correctly the _.assign method but I thought data would be in the response if it exists with the following code :

[code]

Thanks

[2016-02-25 20:06] ghaiklor commented on #219
@prisonier `_.assign()` mixes objects (`extend` at previous versions of lodash\underscore\whatever). If data contains some information about error it should mix into the response object and respond to you.

[2016-02-25 21:51] steveacalabro commented on #217
@ghaiklor Still gave the error about circular JSON

[2016-02-25 22:24] prisonier commented on #219
Thanks for the answer, it is clearly a bug as data contains some information.

[2016-02-25 22:35] steveacalabro commented on #217
@ghaiklor after some debugging it does look like its something with the sails-mysql. Thanks for the help. I'll bring the issue over there and see what they say

[2016-02-25 22:35] #217 closed

[2016-02-26 15:52] prisonier commented on #219
I guess that you already tried to reproduce it but this is how I make it happen :

[code]

The output in the console :
[code]

And the response and the response are exactly like in my first post.

[2016-02-26 18:06] ghaiklor commented on #219
@prisonier oh, these type of errors you can't respond :)

[2016-02-26 19:54] prisonier commented on #219
Absolutely, but I don't understand why the server act like this.

But I would like to have a debug flag somewhere in the config to respond them :)

[2016-02-26 20:05] prisonier commented on #219
I also would like to have a stack trace with this kind of error but I can't figure how to do this.
Do you have any idea ?

[2016-02-26 20:35] ghaiklor commented on #219
@prisonier that's a bad idea to respond with stack trace or something. Better to log them into files with daily rotate, IMHO. You will have all the errors in log files and can investigate them.

[2016-02-26 20:51] prisonier commented on #219
I totally understand your point of view for a production app, you shouldn't respond anything about server logic to a client.

But for testing it is a pain to havn't access to errors or stack traces.

I would combine having errors in files and having them sent to slack with a winston transporter like [this one](https://github.com/TDASinternal/winston-slack)

[2016-02-26 21:17] ghaiklor commented on #219
@prisonier could you send the whole stack trace of your case ? I wondering if Sails do something to simplify the stack trace. I do no magic in the generator to hide this.

[2016-02-27 11:27] prisonier commented on #219
I thought you did something because I don't have any stack trace in this case. You have the whole information in my two posts.
The only thing which is printed is the ```console.log(data)```

[2016-03-01 12:12] prisonier commented on #219
In a native sails app this is the stack trace I get with the controller code ONLY (no console.log(data) in the response) :

[code]

This stack trace is really more exploitable than the one given with the scaffold as tehre is the explicit error and the incriminated line. I didn't precised that I'm working on Linux.

[2016-03-01 12:26] ghaiklor commented on #219
@prisonier may it be because of different log levels in your configuration file ?

[2016-03-01 12:34] prisonier commented on #219
No, the log level in the native sails app is higher than in the scaffolded :

native : info
scaffolded: verbose

[2016-03-01 13:21] ghaiklor commented on #219
@prisonier I have no idea why it's happening. Do you have some ideas ?

[2016-03-01 14:05] prisonier commented on #219
Another information, I chossed winston as the logger. I guess that this behaviour comes from the logger implementation ?

[2016-03-01 16:26] ghaiklor commented on #219
@prisonier try to disable winston hook in `.sailsrc` file. Good idea, can be because of that.

[2016-03-02 11:35] prisonier commented on #219
How can I do that ?

Something like this ?

My actual .sailsrc

[code]

The new one ?

[code]

[2016-03-02 12:09] ghaiklor commented on #219
@prisonier yep, you're right. Try to achieve default Sails logger. If it fixes the issue, problem in sails-hook-winston.

[2016-03-02 16:21] prisonier commented on #219
@ghaiklor unfortunately it changed nothing but I'm not sure that winston has been disabled, how can I be sure which logger is used ?

[2016-03-02 16:24] ghaiklor commented on #219
@prisonier you can enable `silly` mode in `config/log.js` and see which hooks are loading.

[2016-03-02 16:33] prisonier commented on #219
Am I doing something wrong ? I still have a verbose logging level ...

[code]

And the console :

[code]

Still in verbose so I do'nt have any information about the logger type

[2016-03-02 16:34] prisonier commented on #219
And you can see that even if the timestamp parameter is set to true, there is no timestamp in the console

[2016-03-02 18:37] ghaiklor commented on #219
@prisonier timestamp is for winston not for Sails logger. Log level is overridden in `config/env` folder.

[2016-03-03 09:23] prisonier commented on #219
@ghaiklor I only have binding routes log when I activate silly log level, I don't have any information about the used logger.
Wether I activate winston or not in the .sailsrc, I don't have timestamp

[2016-03-03 11:26] ghaiklor commented on #219
@prisonier you see the list of loaded hooks in the console and there is no winston hook. As I said, timestamp only for winston hook. If you disable winston, timestamp has no effect.

[2016-03-03 14:58] prisonier commented on #219
@ghaiklor I didn't disabled winston, this is what I don't understand

[2016-03-03 15:45] ghaiklor commented on #219
@prisonier ok... Are you sure that you install sails-hook-winston or smth ?

[2016-03-03 18:23] prisonier commented on #219
I chose winston as logger during installation. How can I check that winston has been installed or not ? As I don't have any information about the logger hook type when I lift sails is there another place to check ?

[2016-03-03 22:02] ghaiklor commented on #219
@prisonier you can install `sails-hook-winston` via `npm install` for sure. I'm wondering what's happening :)

[2016-03-03 23:47] prisonier commented on #219
Ok so now I've got the timestamp but still no stack trace ;)

[2016-03-04 01:40] prisonier commented on #219
New behaviour detected : if I explicitely throw an error in a cron task I have the stack trace

The cron.js
[code]

PublishService.js
[code]

And the output :

[code]

If I throw an error in the first example (in a promise inside my controller), I don't get any stack trace. I don't understand why there is a different behaviour.
Maybe there is a special wrapper for controller functions or for promi

[2016-03-04 01:44] prisonier opened #223 "Winston logger not installed while asking for"
Hi,

I tried to generate a test project and during install I only pressed "Enter" (mongo, winston, auth layer, etc...)

When I lift sails, I don't have any timestamp in logs while it is the default habbit off winston.

If I manually install winston hook, I get the timestamps.

Note: I use npm 3 because of ionic

[2016-03-04 09:23] ghaiklor commented on #219
@prisonier OMFG, why don't you tell me that you are using promises :smiley_cat:
Handling error in promises done with `.catch()` method. If you throw error - it works, otherwise it just silence the promise if it doesn't has a `.catch()` callback.

Read more here - http://www.html5rocks.com/en/tutorials/es6/promises/

[2016-03-04 09:54] prisonier commented on #219
There is a catch method in my code !
But it is not promise related. Look at this very simple code :

[code]

In sails-rest-api NO stack trace is printed but in native sails a stack trace is printed. This is THIS behaviour which is buggy and should be fixed.

[2016-03-05 02:35] savager opened #224 "Can I use Header - Authorization for authorization token?"
I'm not sure how passport is handling it, but I can only get it working passing auth_token as a parameter at the moment. If this isn't supported that's fine just let me know.

[2016-03-05 09:10] ghaiklor commented on #224
@savager you can, `Authorization: Bearer <token>`

[2016-03-05 18:13] savager commented on #224
That's what I thought, but I get, "no auth token" still.. don't worry i'll figure it out. Thanks!

[2016-03-05 21:28] ghaiklor commented on #224
@savager strange, if you find some useful, let me know, please.

[2016-03-07 17:50] savager commented on #224
Might have been a change in the new version, but I have it fixed by using a different method in passport.js.

`const JWT_STRATEGY_CONFIG = {
  secretOrKey: '9dc0f33dd66707eda39e7ecb6746818299999094bbcca24657f6969469a9870d',
  jwtFromRequest: ExtractJwt.versionOneCompatibility({tokenBodyField: 'access_token'}),
  tokenQueryParameterName: 'access_token',
  jwtFromRequest: ExtractJwt.fromAuthHeaderWi

[2016-03-08 14:52] mikedevita opened #225 "Support sails 0.12?"
Hey is there a plan to update this repo for sails 0.12 support?

[2016-03-09 20:39] ghaiklor commented on #225
@mikedevita hey. Yes, I'm working on another project now. I will update generator with some fixes and Sails upgrade in few days.

[2016-03-09 21:19] mcneela86 opened #226 "Export error on fresh install"
I have run a fresh install of this generator and when I run 'npm start' I get the following error:
`export default {
^^^^^^`

[2016-03-10 07:57] ghaiklor commented on #226
@mcneela86 which version do you have? Also, it's not a full log of error.

[2016-03-23 06:53] ghaiklor commented on #224
@savager did you figure out how to fix the problem ?

[2016-03-23 07:06] savager commented on #224
If i remember correctly I changed the config/passport.js JWT extract to use fromAuthHeader() instead of fromAuthHeaderWithScheme(authScheme)

this way worked as Authorization JWT :token:

[2016-03-28 10:55] BraunreutherA commented on #107
You should put this into the docs - didn't find it there and had to search the issues.

[2016-03-28 10:57] ghaiklor commented on #107
@BraunreutherA what exactly ? Each sub-generator has help command where you can read this.

[2016-03-28 10:58] BraunreutherA commented on #107
Ah okay didn't know that - I was confused cause the other sub generators are documented (e.x. model or config) and the service generation not.

[2016-03-28 11:46] alekor opened #230 "An error on "npm start""
Both for **Windows 7 + npm -v 3.0.6 + node -v 4.2.4** and **mac + npm -v 3.8.3 + node -v 5.8.0**
when execute "npm start"

**on Windows ->**
[code]

**on mac ->**
[code]

[2016-03-28 12:20] alekor commented on #230
Disregard this issue. Setup of the path for storage service was needed

[2016-03-28 12:20] #230 closed

[2016-04-01 08:22] MohmadAyman opened #234 "You don't seem to have a generator with the name sails-rest-api installed, sails 0.12, node 5.6, yo 1.7."
could you please tell me which version do i have to downgrade to be able to run generator-sails-rest-api?
or is there a solution for this problem ?

[2016-04-01 10:31] ghaiklor commented on #234
@MohmadAyman could you paste here full output of your terminal?

`yo sails-rest-api` should works.

[2016-04-01 10:31] #226 closed

[2016-04-01 11:14] MohmadAyman commented on #234
Error sails-rest-api

You don't seem to have a generator with the name sails-rest-api installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To see the 0 registered generators run yo with the `--help` option.

[2016-04-01 11:30] ghaiklor commented on #234
@MohmadAyman what happens if you install generator with yo tool in menu ?

[2016-04-01 11:40] MohmadAyman commented on #234
i ran the yo and installed ```sails-angular``` just to verify that yo is alright, then i tried ```sails-rest-api``` and it just worked, thank!.

[2016-04-01 13:19] ghaiklor commented on #234
@MohmadAyman seems you missed something. Glad it works :+1:

[2016-04-01 13:19] #234 closed

[2016-04-09 00:55] prisonier commented on #216
Can I add a where clause on the count method ?

I tried this without success `/v1/videos/count?channel=1`

[2016-04-09 05:39] ghaiklor commented on #216
@prisonier not sure.

@IncoCode it was your feature, can he do it ?

[2016-04-09 09:59] prisonier commented on #216
@ghaiklor  Thanks for your answer. With the old feature I could find the number of record for any request. It is sad that we are facing a downgrade.
I guess it has been removed for performance issues ?

[2016-04-09 12:30] IncoCode commented on #216
@prisonier you can always override the count blueprint and add your custom logic.
just copy code of this function https://github.com/ghaiklor/generator-sails-rest-api/blob/dev/generators/hook/templates/api/hooks/CountHook.js#L11 into a separate file called `count.js` (in `blueprints` folder) and improve the code by adding `parseCriteria` etc like here: https://github.com/ghaiklor/generator-sails-r

[2016-04-11 23:54] l1br3 opened #237 "call a bad parameter in a find request cause server to not send response to client"
Hi, if I have a 'channel' model and if I try to use the find blueprint :

`http://localhost/v1/channels?limi=200` -> note the error 'limi' instead of 'limit'

I get this error and no response is sent to the client :

[code]

I guess that should be handled. Maybe more related to sails instead of your module ? But as you overwritten some blueprints I'm not sure.

[2016-04-12 05:44] ghaiklor commented on #237
@prisonier error specific for sails-mysql and waterline. Actually, Waterline emits this error, so you can try\catch, but I believe it should handles in Sails.

[2016-04-15 22:52] prisonier opened #238 "[bug] blueprint routes does not work for some pluralized models name"
Hi,

I experienced something very strange with model names like coach and person.
Their pluralized forms are `coaches` and `people` so I tried to create ressources by posting to ``v1/coaches` or `v1/people` which give me the following response :

[code]

Off course, nothing is created, this is not the standard response for ressource creation.

I tried to set `pluralize : false` and if I ping non p

[2016-04-15 22:54] prisonier commented on #237
Thanks for your answer but where should I try/catch ? In the find blueprint ?
It would be better to have all waterline errors catched in the blueprints instead of relying on waterline to send proper errors.

[2016-04-15 23:54] prisonier commented on #238
Ok it's not a bug at all, you just avoid to create api with Controller generator and then Model generator. Just use Model generator.

Could you write it in capital letters in the doc ? I've seen nowhere that generate controller then model will break blueprints.

Why ? Because when you generate a controller, the generator write an index action inside and this breaks blueprint routes.

And in fact,

[2016-04-16 06:16] ghaiklor commented on #237
@prisonier yes, try to add try\catch in `find` blueprint.

[2016-04-16 06:19] ghaiklor commented on #238
@prisonier what you think about contributing in the generator ? I have no time for fixing all the issues that we have already, since I'm working on another open-source project. I can be your mentor and help with PR review.

[2016-04-19 01:11] prisonier commented on #238
@ghaiklor I'm really interested

[2016-04-19 05:12] ghaiklor commented on #238
@prisonier you can pick up any issue then and make PR. Issues are really easy and I always can help you with reviewing and discussing the PRs.

Read the [contributing](https://github.com/ghaiklor/generator-sails-rest-api/blob/dev/CONTRIBUTING.md) guide first. And don't forgot to install [commitizen](https://commitizen.github.io/cz-cli/). I'm using semantic-release, so your commits should be format

[2016-04-19 15:11] rizr opened #240 "Telegram Test"
test issue

[2016-04-20 07:10] kuguarpwnz commented on #240
test

[2016-04-20 09:20] rizr commented on #240
some test again

[2016-04-20 09:23] rizr commented on #240
#tags test

[2016-04-20 10:04] ghaiklor commented on #240
@kuguarpwnz test

[2016-04-20 10:33] ghaiklor commented on #240
test again

[2016-04-20 10:34] rizr commented on #240
test #241

[2016-04-20 13:25] rackot opened #242 "test issue"

[2016-04-20 13:26] rackot commented on #242
test

[2016-04-20 13:27] rackot commented on #242
test2

[2016-04-20 13:27] rackot commented on #242
test3

[2016-04-20 13:56] #242 closed

[2016-04-20 13:57] #240 closed

[2016-04-20 15:13] rizr opened #244 "new issue"
new issue

[2016-04-20 15:38] rizr commented on #244
test

[2016-04-20 15:50] rizr commented on #244
awesome test comment
`code `

[2016-04-20 16:01] #244 closed

[2016-04-21 09:18] rizr opened #246 "vbcv"
vbcvbc

[2016-04-21 09:23] ghaiklor commented on #240
@kuguarpwnz test

[2016-04-21 11:08] #246 closed

[2016-04-22 22:31] l1br3 opened #248 "Bug: count blueprint is not filtered by auth policies"
Hi, any idea from where it could come from ?

[2016-04-23 07:28] ghaiklor commented on #248
@prisonier what do you mean by auth policies? Policies are set for controllers and their actions, not the blueprints.

[2016-05-13 13:52] gustperz commented on #105
how to get only GET:count?

[2016-05-26 17:10] adrianeguez opened #260 "Wanna be part of Your Team"
Hello Guys,
I want to improve my skills on Continues, Delivery, Testing, Documentation and the other tools you are using, Also I have experience with sails, node, angular, yeoman, angular 1.x .
I am a backend and frontend developer with javascript.
I hope I can help you within this proyect.
Greetings

[2016-05-26 19:01] ghaiklor commented on #260
@adrianeguez you are the part of open-source community, so you are already a part of our team 😺 You can check issues, take some and make PR. I'll review and help you with merging and releasing them. Check contributing guide first and you are ready to go.

[2016-06-08 15:21] lboening opened #261 "Are Hypermedia routes available?"
Does this generator add some hypermedia?

[2016-06-08 22:22] tommymolto opened #262 "Social Auth"
Man, i'm striggling with the code here. In my debugs, /auth/social reaches till passport.authenticate , but is never calling the _onSocialStrategyAuth method. The token is right, appid, and strategyName as facebook-token.

What could be wrong?  My social.js is in this format:

[code]

[2016-06-09 06:07] ghaiklor commented on #261
@lboening no, HATEOAS is not supported here.

[2016-06-09 06:10] ghaiklor commented on #262
@tommymolto could you provide more information about this? What version are you using? I can't help with tracing the issue 'cause I'm not working with Sails anymore. 'll be glad if you fix the issue and send PR.

[2016-06-11 00:51] lboening commented on #261
Thanks

[2016-06-11 00:51] #261 closed

[2016-06-22 12:47] tlays11 commented on #224
In config/passport.js the  JWT_STRATEGY_CONFIG  const, updated the jwtFromRequest property to this:
 jwtFromRequest: ExtractJwt.versionOneCompatibility({authScheme : 'Bearer', tokenBodyField: 'api_key'}),

This way you can still used api_key get param.

[2016-06-23 05:59] ghaiklor commented on #224
@tlays11 can you create a PR with that change? Does it break `access_token` field ?

[2016-06-23 06:06] #260 closed

[2016-06-23 06:10] ghaiklor commented on #237
Closing due this issue is related to specific adapter, not the generator itself.

[2016-06-23 06:10] #237 closed

[2016-06-23 06:12] #248 closed

[2016-06-23 06:13] ghaiklor commented on #262
Closing, reopen if you came back with an information.

[2016-06-23 06:13] #262 closed

[2016-06-26 23:38] komocode opened #269 "Blueprints.js ignored?"
Here's my blueprints.js

[code]

And I've commented out all routes relating to "workshops" in my routes.js folder

[code]

But when I do a GET request: /api/workshops/nearby?lat=13.725777&lng=100.541065&distance=11.408501

Sails.js attempts to do some action that causes a circular dependency error
[code]
My expectation of what should happen when I do that GET request should return a "not found" er

[2016-06-27 01:14] komocode commented on #269
Nevermind. Looks like it's a routing issue.

[2016-06-27 01:14] #269 closed

[2016-08-02 14:04] fuadhasni commented on #173
**This is just for any noob like me visiting this issue for seeking solution, I came across the same issue**

The error is shown if you have selected Local Storage service and the you have not provided the following in your `.\config\services\storage.js` file.

` provider: {
        uploads: path.resolve(__dirname, '../uploads')
      }`

so, basically it is about providing a directory to save fil

[2016-08-31 19:53] l1br3 commented on #134
@ghaiklor I started a new project with the generator, and it took me few minutes to remember this issue. I think you should put some default configuration because `npm start` after install fails.

[2016-09-01 08:43] ghaiklor commented on #134
@l1br3 I already mentioned why it could leads to more difficult errors. That way, you got errors, other way you propose, you got nothing in logs and nothing is working.

[2016-09-01 08:50] l1br3 commented on #134
@ghaiklor that's not correct, you will get an error when you will try to send a mail. Something like 'impossible to connect to sendgrid with the api key "change_this_api_key" '

This is far better than having an error at npm start without any explanation on how to configure the mailer service.

[2016-09-02 06:27] ghaiklor commented on #134
@l1br3 that's for your case. Other provider could not throw an error and proceed silent. You need to understand, that I have a lot of different services, which are implemented differently under the hood in provider.

[2016-09-03 16:41] l1br3 commented on #134
I don't say that my solution is good for all cases, I just say that having an non understable error at first npm start is not optimum.

[2016-09-04 23:07] l1br3 opened #279 "use overwritten blueprints in sails"
Hello,

I'm currently setting up a new sails app and I won't use the generator because I need more than a REST API.
I've set up a node module which works fine with the blueprints of this module, there is a way to use them ?

The module name is (redux-crud-async)[https://www.npmjs.com/package/redux-crud-async]

Maybe I just have to copy/paste everything in `generator/blueprints/template/api/bluepri

[2016-10-07 18:44] PiXeL16 opened #286 "Application-Token ?"
Hi,
Looking at old issues it looks like there was a policy `isOurApp.js` that handle the `Application-Token` private API authorization. Is that still present in another way?

[2016-10-18 15:28] antoniobarbosa opened #290 "yo sails-rest-api not working"
I am trying to run yo sails-rest-api command the it asks me the project name. and finish, don't do anything else! nothing happens on my project folder,
![image](https://cloud.githubusercontent.com/assets/5209728/19484516/a70ac804-9536-11e6-8409-e4f7c36569d7.png)

[2016-10-19 08:35] ghaiklor commented on #290
@antoniobarbosa I didn't test it on Windows, so I can't guarantee it will work. Tested under Mac OS and Linux only.

[2016-10-19 09:14] vystydp commented on #290
I have the same problem on Ubuntu

[2016-10-19 14:17] ghaiklor commented on #286
@PiXeL16 it had been removed.

[2016-10-19 14:26] PiXeL16 commented on #286
@ghaiklor Thanks for the response. Any way of doing it out of the box? Or does people normally roll their own solution?

[2016-10-19 15:25] vystydp commented on #290
@ghaiklor It Works under v1.3.6!

[2016-10-19 16:18] ghaiklor commented on #286
@PiXeL16 we heavy used it in our real projects and becomes that `ApplicationToken` is not really a necessary part of the projects. You can easily add it by yourself ;)

[2016-10-19 16:20] ghaiklor commented on #290
@vystydp can you help with debugging what exactly goes wrong? The only changes between 1.3.6 and 1.3.7 is in package dependencies and one-line fix. I suppose that the issue is with some of dependencies.

[2016-10-19 16:21] ghaiklor commented on #290
@vystydp I can say even more. Try to downgrade `yeoman-generator` package by minor versions and find the version where it works. I think the issue in that.

[2016-10-19 16:34] PiXeL16 commented on #286
Yes sure, I was just wondering if it was still supported.
Thanks!

[2016-10-19 16:34] #286 closed

[2016-10-19 19:34] mikedevita commented on #290
i can confirm 1.3.7 is broken on node, both 4.6.1 and 6x.. bumping down to generator-sails-rest-api@1.3.6 fixes it and lets me bo through thesteps.

[2016-10-20 09:29] ghaiklor commented on #290
@mikedevita @vystydp @antoniobarbosa updated to v1.3.8. Check it out, should work.

[2016-10-20 10:46] antoniobarbosa commented on #290
@ghaiklor it's working fine for me now!!

[2016-10-20 10:48] ghaiklor commented on #290
Great, I'm closing the issue. Thanks guys, for reporting 👍

[2016-10-20 10:48] #290 closed

[2016-10-20 19:22] mikedevita commented on #224
for me changing to the `fromAuthHeader()` didn't work i had to do like @tlays11 suggested and do the following

**in config/passport.js**  change
[code]

to
[code]

[2016-10-20 19:25] mikedevita opened #291 "npm test times out on windows"
using the latest build of the generator, even setting the timeout to 60s on windows sails takes a really long time to lift, it'd be nice to know how to increase the timeout in istanbul, i added `--timeout 120s` to the mocha.opts but that doesn't always wor.

[2016-10-20 23:09] mikedevita opened #292 "Document how to use the test/fixtures"
i was using barrels to auto seed the db with test data, but i noticed theres a fixtures now included.. but its a different syntax and im not sure how to use this?

[2016-10-21 08:59] ghaiklor commented on #224
@mikedevita great, yeah, looks good. You can create a PR for this. I'm not sure if we need to ask a user for this, imho, it should work for both cases without prompting the user.

[2016-10-21 09:00] ghaiklor commented on #291
@mikedevita check `yeoman-generator` version. I bumped it to v0.22.4, I guess, and got working test cases on Mac OS.

[2016-10-21 09:01] ghaiklor commented on #292
@mikedevita these fixtures is just plain JS object which requires manually. Feel free to make a PR with updates 👍

[2016-10-21 13:42] mikedevita commented on #291
looks like that update breaks bash on windows 👎

![image](https://cloud.githubusercontent.com/assets/2991640/19600355/7dc115e6-9759-11e6-98b1-b2520db45a08.png)

[2016-10-21 13:43] mikedevita commented on #292
ahh ok, well would you be open to using barrels?, i've never built a yeoman generator so im not sure how to get it to integrate, i'd need to do some research.

[2016-10-21 13:43] #292 closed

[2016-10-21 13:43] mikedevita commented on #224
@ghaiklor yeah i dont think its required if the current ver supports both. 👍

[2016-10-22 09:32] ghaiklor commented on #291
@mikedevita seems like it relates to yo package itself.

[2016-10-22 09:41] ghaiklor commented on #292
@mikedevita you can read more about it here - http://yeoman.io/authoring/

[2016-10-28 23:10] mikedevita commented on #105
i wanted to add a count to the pager stuff that shows you the total number of rows based on your query but not sure how to modify the `find()` blueprint..

[code]

[2016-11-04 15:42] mikedevita opened #293 "JWT expired should return a 40x error, not a 500."
currently if a jwt is expired it returns the following payload with a HTTP 500, i propose it should return 401 or 403, I'd say 403.

[code]

[2016-11-04 15:50] mikedevita commented on #293
FYI i patched this manually by editing `isAuthenticated.js` to be

[code]

and adding an if block to check for the status in `responses/negotiate.js`

[code]

[2016-11-05 11:19] ghaiklor commented on #293
@mikedevita feel free to create a PR for this :)

[2016-11-05 13:39] mikedevita commented on #293
Sure is my method acceptable?

Sent from my iPhone

[2016-11-07 11:39] ghaiklor commented on #293
@mikedevita looks like this better to place into passport configuration itself, not in a policy:

[code]

[2016-12-11 19:54] mikedevita commented on #291
yeah i think this is resolved now, it works fine for me now.

[2016-12-11 19:54] #291 closed

[2016-12-14 15:29] mikedevita opened #301 "should move sensitive configs into local.js to prevent them from being in the repos"
I will be submitting another PR to resolve this if you like, basically in the api/services/* files you do something like this.. this can be applied for things like db name, user, host and password.

[code]

and create a config/local.js with something like this....

[code]

[2016-12-14 20:25] ghaiklor commented on #293
fixed in #300

[2016-12-14 20:25] #293 closed

[2016-12-14 20:29] ghaiklor commented on #301
@mikedevita you can achieve the same behavior with default Sails setup. Just create `config/local.js` file and it overrides any properties you declare there. There is no needs for implementing such kind of features.

http://sailsjs.com/documentation/concepts/configuration/the-local-js-file

[2016-12-14 21:02] mikedevita commented on #301
Does it override or does it merge?

[2016-12-15 10:44] ghaiklor commented on #301
@mikedevita it overrides and merges. If property exists, it will be overridden, otherwise it will be merged.

[2016-12-15 13:51] mikedevita commented on #301
@ghaiklor that idea wont work as is because you call `config/services/*.js` independently and don't hook into `sails.config.services.*` so either there needs to be a change in the config to use `sails.config.services` or use merge like i suggested.

[2016-12-15 21:08] ghaiklor commented on #301
@mikedevita yeah, I see, makes sense. It will be great to get rid of direct requiring of configuration files and use `sails.config`.

[2016-12-15 21:09] mikedevita commented on #301
Ill look into this and submit another PR..

From: Eugene Obrezkov <notifications@github.com>
Reply-To: ghaiklor/generator-sails-rest-api <reply@reply.github.com>
Date: Thursday, December 15, 2016 at 2:08 PM
To: ghaiklor/generator-sails-rest-api <generator-sails-rest-api@noreply.github.com>
Cc: Mike DeVita <m.devita@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ghaiklor/generator-s

[2017-01-15 22:07] l1br3 commented on #225
Hi @ghaiklor, after almost a year I tried to do that but tests fails.
I cloned the repo, [updated package.json](http://pastebin.com/QJq4yf7u), npm install and run tests.

Could you give me some advices to solve issues ? I don't understand the [stack trace](http://pastebin.com/qh07CNmr)

[2017-01-16 13:04] ghaiklor commented on #225
@l1br3 do not update dependencies if you want to have working version. Otherwise, you need to migrate current codebase to new API of dependencies.

[2017-01-16 14:44] l1br3 commented on #225
I tried it with just updating sails to 0.12.4 and I've got exactly the same failures

[2017-01-16 15:03] l1br3 commented on #238
I've added precision in the wiki about what model generator does. I was pretty sure this would create a PR but instead it directly modified the wiki...

[2017-01-16 20:22] sercanov opened #303 "JWT decoding error should return unauthorized"
In isAuthenticated.js when jwt authenticating fails, sends it to res.negotiate and return 500, i think it should be return unauthorized no matter what the cause is for decoding token. Don't you think so ? ^^

[2017-01-16 22:44] ghaiklor commented on #303
@sercanov feel free to create a PR for it 👍
We already added 401 error - https://github.com/ghaiklor/generator-sails-rest-api/blob/dev/generators/authentication/templates/api/policies/isAuthenticated.js#L12

[2017-01-17 08:13] sercanov commented on #303
sure I will !

[2017-01-17 20:57] #303 closed

[2017-02-09 15:19] BraunreutherA commented on #225
I did a clean install from the generator and updated to 0.12.11. Then I adjusted the test bootstrap to use sails.load() instead of sails.lift() which is recommended by sails as the tests use sails.request() anyhow.

That way the test/boostrap.js becomes this:

[code]

And everything works with sails 12 :)

[2017-02-15 08:13] ghaiklor commented on #225
@BraunreutherA can you create a small PR, so I can publish a new version? :)

[2017-03-01 13:19] satishverma143 opened #311 "application not start."
i have used npm start to start application but not working.
also used node app.js but this is not working.
the error comes
27 error 404 Registry returned 404 for GET on https://registry.npmjs.org/myrestapi
28 error 404
29 error 404 'myrestapi' is not in the npm registry.
30 error 404 You should bug the author to publish it (or use the name yourself!)
31 error 404 Note that you can also install fro

[2017-03-01 17:54] ghaiklor commented on #311
@satishverma143 it's not related to this package, read the logs carefully.

We are not using this package at all, check your configurations on your side.

[2017-03-01 17:54] #311 closed

[2017-03-02 05:52] satishverma143 commented on #311
@ghaiklor this is my application name "myrestapi"

[2017-03-02 14:14] ghaiklor commented on #311
@satishverma143 IDK, you need to check errors on your side. I've never seen this before.

[2017-03-29 16:41] mikedevita opened #312 "does the generator support sails@beta 1.0.0 yet?"
does the generator support sails@beta 1.0.0 yet?

[2017-03-29 20:06] ghaiklor commented on #312
@mikedevita we need to do a lot of work to migrate from 0.11. For now, I don't have a much time for this. Feel free to create a PR with this functionality :)

[2017-03-30 14:27] mikedevita commented on #312
thanks @ghaiklor its still in beta so i don't think its a huge rush yet, just curious if it was on the eventual roadmap.

[2017-04-22 01:18] mikedevita opened #314 "how can i add autopopulate back in to the find and findOne blueprints?"
and keep the pagination? I enabled `populate: true` in my `config/blueprints.js` and remove the `api/blueprints/(find|findOne).js` files but which allows me to auto populate records but i lose the the pagination stuff in the returned object.

[2017-04-22 11:36] ghaiklor commented on #314
@mikedevita I believe, that's your custom logic and you should figure out in this howto on your own.

[2017-05-16 15:32] mikedevita commented on #301
a bit of an update, by making the services functions you can then obtain access to `sails.config`

e.g;

**api/services/CipherService.js**
[code]

doing this you can then change anywhere `CipherService.jwt.encodeSync()` to be `CipherService.jwt().encodeSync()` I am not sure how to modify the yo generators to include this new syntax though. So any help would be appreciated there.

[2017-05-16 15:35] #314 closed

[2017-05-16 15:35] #312 closed

[2017-07-12 15:43] tomanagle opened #325 "self.defaults is not a function"
I get the following error when running npm start on a fresh install.

[code]

[2017-07-12 18:46] ghaiklor commented on #325
@tomanagle seems like the issue with Sails itself. Error thrown from Sails internals.

[2017-07-14 07:48] tomanagle commented on #325
Hi @ghaiklor, you're right that the problem is in sails.js

I was using Node v8.1.4 and downloaded to v6.11.1 LTS and it is now working.

Thank you

[2017-07-14 08:59] #325 closed

[2017-07-21 10:46] aliemre opened #326 "self.defaults is not a function"
Hi. I am currently this having issue after installation.

[code]

Thanks for your help.

[2017-07-21 12:57] ghaiklor commented on #326
#325

[2017-07-21 12:57] #326 closed

[2017-07-25 09:43] rkdaredevil opened #327 "Error running on windows machine"
**var implicitDefaults = self.defaults(overrides.appPath || process.cwd());
                                        ^**

TypeError: self.defaults is not a function
    at Array.async.auto.mixinDefaults (E:\sails-pots\node_modules\sails\lib\app\configuration\load.js:136:41)
    at E:\sails-pots\node_modules\async\lib\async.js:484:38
    at _each (E:\sails-pots\node_modules\async\lib\async.js:46:13)

[2017-07-25 14:08] ghaiklor commented on #327
#326

[2017-07-25 14:08] #327 closed

[2017-11-08 10:57] fattouchsquall opened #338 "Elastichsearch is not supported"
Hello,

Is there a way to support elasticsearch as database? Thanks

[2017-11-13 02:06] mikedevita commented on #225
PR is inbound for @BraunreutherA's proposed fixes i'm just testing the final parts now.

[2017-12-07 14:16] arjun-kava opened #341 "How to customize swagger docs for particular API route?"
as described in
https://github.com/trailsjs/sails-swagger documents
where to write custom params for route such as

[code]

[2017-12-27 11:32] #225 closed

[2017-12-27 11:35] #338 closed

[2018-03-05 07:36] ngocdung88 opened #348 "miss more module depend ex. passport, ..."

[2018-03-14 03:10] anilprasad opened #349 "unable to get the sails api project up and running after generating the api base using the sails-rest-api"
I have used only two of the services

1. CipherService and
2. HashService.js

Followed the following steps..

$ sudo npm install -g yo generator-sails-rest-api
$ mkdir myapi
$ cd myapi/
$ yo sails-rest-api
$ npm start

Environment: Environment ubuntu 14.04 LTS, 64 bit, Intel x86

After npm start, I am getting the following error...

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nod

[2018-03-14 03:49] anilprasad commented on #349
npm version : 3.10.5
node version : v8.9.4

[2018-03-14 10:45] ghaiklor commented on #349
@anilprasad I don't see any info about Sails or generators internals in the stack trace. Without additional information I can't help here.

[2018-03-15 16:37] anilprasad commented on #349
@ghaiklor thank you for the prompt reply. I did not get any other trace details apart from the above npm log. is this something to do with es6? as I could see good amount of usage of arrow functions in the code.

[2018-03-16 11:21] ghaiklor commented on #349
@anilprasad you are using node v8, so it's not the case, imho. I believe, there are some old issues in generator-sails-rest-api related to ignoring stack trace in messages. Could be that is the case...

Try to generatre without additional services (clean setup). What will be the effect?

[2018-03-20 09:24] strobelpierre opened #350 "Cannot find module 'passport'"
Good morning,
I think I have a problem with the dependencies.
Indeed, when I run an "npm start"' I get errors like "Local package.json exists, but node_modules missing, did you mean to install?" so I run npm install and once done I still have missing dependencies.
"Details:Error: Cannot find module'passport'".
Sincerely Pierre
Sorry about my English I'm French;)
NPM Start :
`info: Starting app...

[2018-03-30 21:31] ghost commented on #213
I had this issue today running fresh install of Linux Mint 18.3 Cinnamon

[2018-04-08 06:09] redoc123 opened #354 "i have to manually install all dependencies. is this a joke?"
The whole point of giving out a generator is to save time and cut down the time spent on figuring out basic tasks.

This generator does nt include any of the runtime dependencies in package.json. The way to get it working it run and install missing packages one at a time.

Sorry dont mean to undermine your effort for the community but i find it plain irresponsible.

[2018-04-08 08:55] ghaiklor commented on #354
@redoc123 it does. When you're choosing additional services, it modifies dependencies list which are installing via yeoman.

[2018-04-08 18:56] redoc123 commented on #354
@ghaiklor thanks for quick response for my "impatient" question. I am not seeing any of the packages being added to package.json. please advise.

I created a project with following options:

Application questions:
? Application name sails-rest-api

Configuration questions:
? Database adapter Mongo
? Database host localhost
? Database name sails-rest-api
? Database username
? Database password [hid

[2018-04-10 09:30] ghaiklor commented on #354
hm... it should add `sails-service` packages... Seems like a bug and needs investigation why this is happening. Do you want to try debug it?

[2018-04-18 18:22] Hodor9898 opened #355 "Upgrading to sails v1.0"

[2018-04-23 14:16] ghost opened #356 "not able to run the api"
TypeError: _.chain(...).keyBy is not a function
    at Object.getPathItem (E:\webauctionsplus fix\WebAuction Api v2\api\hooks\swagger\lib\xfmr.js:160:8)
    at _.mapValues.pathGroup (E:\webauctionsplus fix\WebAuction Api v2\api\hooks\swagger\lib\xfmr.js:126:26)
    at E:\webauctionsplus fix\WebAuction Api v2\node_modules\lodash\index.js:3395:24
    at E:\webauctionsplus fix\WebAuction Api v2\node_

[2018-04-24 11:34] ghaiklor commented on #356
I believe this is related to lodash package. The generator doesn't pin dependencies versions, so when it installs packages, lodash is installing with breaking version.

[2018-04-24 13:24] ghost commented on #356
can you send me a working package json / a fix for that

[2018-04-25 09:39] ghaiklor commented on #356
@LarsE343 You can install needed lodash version yourself via `npm install`. I can't send you the package.json with all the working dependencies.

[2018-05-05 12:24] jamestharpe commented on #350
Same here. Start a new project, run `npm install`, and get this error.

[2018-05-07 10:25] ghaiklor commented on #350
looks like an issue with missing dependencies list in `package.json`. Just install all the required packages via `npm install`

[2018-05-27 04:33] #341 closed

[2018-05-29 12:50] moda20 opened #359 "Error when generating project using web storm"
[code]

I got that error and no questions popped then the project folder is empty

[2018-05-29 13:47] moda20 commented on #356
So what is the necessary version of loadash ?

[2018-05-30 10:15] mukulsoftwap opened #360 "Rethrow non-MySQL errors : Converting circular structure to JSON"
[code]

**Working fine with sails disk but getting when using mysql. please help me**

[2018-07-10 03:54] binnyg commented on #356
@ghost, @moda20 Did you figure out the exact lodash version?

[2018-07-10 07:24] moda20 commented on #356
I just installed lodash latest via npm, it worked

[2018-07-10 12:49] ChrizzDF commented on #350
After having the same error as @jamestharpe I added each missing dependency after another. At the end there were like ~15 additional dependencies I had to install, even though I didn't want to use things like Location, but still I had to install these dependencies for that.
After this was done, I'm getting the next error which is:
`TypeError: _.get is not a function`

Probably it's because I'm usi

[2018-08-11 12:42] nastil commented on #354
Hi, I just used your generator and I have the same problem - package.json was empty and I had to install all dependencies manually

[2018-08-11 12:43] nastil commented on #354
By empty I mean most dependencies where missing

[2019-05-20 13:12] vijeta-singh opened #373 "How I can use same action for api and web."
Hi ,
I am new to sails js.
I want to imlement api  for mobile and website using sailsjs.
Instead of creating two actions for api and web can I use same action for both?
Based on the request when it is coming from mobile it should return json data otherwise it shoud return  page view.
Thanks.

[2019-05-21 07:01] #373 closed, assigned to nobody

[2020-05-16 14:42] Rho-bur opened #413 "Sails version"
Hello,
This seems like a project which incorporates a lot of work and I thank you for offering it for free to community!
One question, is the project's sails version updated with every sails release (currently 1.2.4)?
Which one is the project sails current version?

[2020-05-17 15:54] ghaiklor commented on #413
Hi!

This project is no longer supported, I quit working with Sails, hence no updates for the generator. No maintainers on the side as well.

Although, I'm open to give collaborator rights to anyone who wants continue it.

[2020-05-25 08:40] smitit173 commented on #360
yeah , I am also facing the same issue